<blockquote class="blockquote-warning"><b>Warning</b><br/>This section is a work in progress, we are constantly adding new contents to it. If you would like us to cover some missing content first, please use the feedback link on the footer.</blockquote>
        <h1>Backoffice</h1>
        <p>This section is the home for all the backoffice related documentation. Here you can find guides with screenshot about handling all the store's data using our dashboard.</p>
        
        
<ul class="list">
  <li><a class="link" href="/documentation/guides/backoffice/products-with-variants">Products with variants</a></li>
   <li><a class="link" href="/documentation/guides/backoffice/setting-up-taxes">Setting up taxes</a></li>
   <li><a class="link" href="/documentation/guides/backoffice/translations">Translations</a></li>
   <li><a class="link" href="/documentation/guides/backoffice/currencies">Currencies</a></li>
</ul>