<% include ../../../header/ %>
<% include ../../../navbar/ %>

<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>


<section class="inverse sub-navbar">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <ul class="horizontal-menu nav navbar-nav">

             <li><a href="/documentation">Documentation</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="/documentation/backoffice">Backoffice</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="#">Products with variants</a></li>
             
           </ul>
        </div>
      </div>
  </div>
</section>

<section class="documentation-page">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <nav>
            <h5>General topics</h5>
            
            <ul>
              <li><a href="/documentation" class="link">Home</a></li>
              <li><a href="/documentation/authentication" class="link">Authentication</a></li>
              <li><a href="/documentation/roles" class="link">Roles</a></li>
              <li><a href="/documentation/webhooks" class="link">Webhooks</a></li>
            </ul>

             <h5>Platforms</h5>
            
            <ul>
              <li><a href="/documentation/reference/javascript" class="link">Javascript</a></li>
              <li><a href="/documentation/reference/nodejs" class="link">NodeJS</a></li>
              <li><a href="/documentation/reference/php" class="link">PHP</a></li>
              <li><a href="/documentation/reference/curl" class="link">cURL</a></li>
            </ul>
        </nav>
      </div>
       <div class="col-lg-6 col-md-6">
        <h1>Product variants</h1>
        <p><strong>Products with variants</strong> are a product type in Marketcloud that lets you offer a set of variations on a product, with control over prices, stock, image and more for each variation. They can be used for a product like a shirt, where you can offer a large, medium and small and in different colors.</p>
        
        <h4 class="mt50">Table of contents</h4>
        <ol>
          <li><a class="link" href="#createAProductWithVariants">Create a product with variants</a></li>
          <li><a class="link" href="#addAVariant">Add a variant</a></li>
          <li><a class="link" href="#deleteAVariant">Delete a variant</a></li>
        </ol>
        <a class="anchor" id="createAProductWithVariants"></a>
        <h4 class="mt50">Create a product with variants</h4>
        <p>Open your app's dashboard then go to <b>Inventory</b> > <b>Products</b> and click on <b>create product</b> > <b>product with variants</b>.</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_create_product_with_variants.png" class="img-responsive mb20">
        <p>First thing to do is to add all the basic and required information to the product, such as the name and the price.</p>
        <blockquote class="blockquote-info"><b>Note</b><br/>We recommend to insert all the basic product's information now, in this way, when you create variants they will inherit a lot of information and you won't need to add it again and again.</blockquote>
        <p>Now we can add variants to our product. In our example we are creating a t-shirt and t-shirts can have different sizes and colors. To tell Marketcloud that your product can have variations you must create properties called variants.</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_add_variants_to_product.png" class="img-responsive mb20">
        <p>When you create a variant you need to do two things:
        <ul>
          <li>Choose the variant's name, such as "size"</li>
          <li>Add all the possible variant values, such as "XL", "L", "M", "S" and so on.</li>
        </ul></p>
        <img src="https://marketcloud.azureedge.net/images/documentation_added_more_variants.png" class="img-responsive mb20">
        <p>You can add any number of variants by clicking on the add variant button. Everytime you add a variant, the dashboard will create all the possible combinations, if you don't want a particular combination (e.g. you don't want to create the XL/Blue variant) you can un-check it.</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_uncheck_variant.png" class="img-responsive mb20">
        <a class="anchor" id="addAVariant"></a>
        <h4 class="mt50">Add a variant to an existing product</h4>
        <p>If you want to add a new variant combination to a product you already created, go to  <b>Inventory</b> > <b>Products</b> and click on the product's name.</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_pick_product_with_variants.png" class="img-responsive mb20">
        <p>You will be taken to a new view that allows you to edit the product. Scroll down to the variant section and click the <b>Add variant</b> button. A modal will show in which you have to insert the values for your new variant (e.g. we can add the XL Blue t-shirt combination)</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_add_single_variant.png" class="img-responsive mb20">

        <a class="anchor" id="deleteAVariant"></a>
        <h4 class="mt50">Delete an existing variant from a product</h4>
        <p>If you want to delete a specific variant from a product, go to <b>Inventory</b> > <b>Products</b> and click on the product's name.</p>
        <p>Scroll down to the variants section and click on the delete button (the one with the trash icon) on the same row as the variant you want to remove.</p>
        <img src="https://marketcloud.azureedge.net/images/documentation_delete_variant.png" class="img-responsive mb20">
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){

  $("nav>ul#api-reference-index>li>a").click(function(e){
    e.preventDefault();
    $(e.target).parent().toggleClass('active');
  });

  $("nav>ul#api-reference-index>li> ul > li > a").click(function(e){

  $("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
  $(e.target).parent().toggleClass('active');

  });
})

</script>
<% include ../../../footer/ %>