<% include ../../../header/ %>
<% include ../../../navbar/ %>

<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<section class="inverse sub-navbar">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <ul class="horizontal-menu nav navbar-nav">

             <li><a href="/documentation">Documentation</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="/documentation/reference">API Reference</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="/documentation/reference/curl">cURL</a></li>
             
           </ul>
        </div>
      </div>
  </div>
</section>

<section class="documentation-page">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <aside class="page-navigation">
          
          <nav id="index">
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
              <li><a href="#making-requests">Making requests</a></li>
            </ul>
            
            <h5>API REFERENCE</h5>
            
            <ul id="api-reference-index">
              
              <li>
                <a href="#products">Products</a>
                <ul>
                  <li><a href="#products.create">Create a product</a></li>
                  <li><a href="#products.list">List all products</a></li>
                  <li><a href="#products.getById">Retrieve a product</a></li>
                  <li><a href="#products.update">Update a product</a></li>
                  <li><a href="#products.delete">Delete a product</a></li>
                </ul>
              </li>
              <li>
                <a href="#carts" >Carts</a>
                <ul>
                  <li><a href="#carts.create">Create a cart</a></li>
                  <li><a href="#carts.list">List all carts</a></li>
                  <li><a href="#carts.getById">Retrieve a cart</a></li>
                  <li><a href="#carts.add">Add items to cart</a></li>
                  <li><a href="#carts.update">Update cart contents</a></li>
                  <li><a href="#carts.remove">Remove items from cart</a></li>
                  <li><a href="#carts.delete">Delete a cart</a></li>
                </ul>
              </li>
              <li>
                <a href="#users" >Users</a>
                <ul>
                  <li><a href="#users.create">Create a user</a></li>
                  <li><a href="#users.list">List all users</a></li>
                  <li><a href="#users.getById">Retrieve a user</a></li>
                  <li><a href="#users.update">Update a user</a></li>
                  <li><a href="#users.delete">Delete a user</a></li>
                </ul>
              </li>
              <li>
                <a href="#orders">Orders</a>
                <ul>
                  <li><a href="#orders.create">Create an order</a></li>
                  <li><a href="#orders.list">List all orders</a></li>
                  <li><a href="#orders.getById">Retrieve an order</a></li>
                </ul>
              </li>
              <li>
                <a href="#addresses" >Addresses</a>
                <ul>
                  <li><a href="#addresses.create">Create an address</a></li>
                  <li><a href="#addresses.list">List all addresses</a></li>
                  <li><a href="#addresses.getById">Retrieve an address</a></li>
                  <li><a href="#addresses.update">Update an address</a></li>
                  <li><a href="#addresses.delete">Delete an address</a></li>
                </ul>
              </li>
              <li>
                <a href="#categories" >Categories</a>
                <ul>
                  <li><a href="#categories.create">Create a category</a></li>
                  <li><a href="#categories.list">List all categories</a></li>
                  <li><a href="#categories.getById">Retrieve a category</a></li>
                  <li><a href="#categories.update">Update a category</a></li>
                  <li><a href="#categories.delete">Delete a category</a></li>
                </ul>
              </li>
              <li>
                <a href="#brands">Brands</a>
                <ul>
                  <li><a href="#brands.create">Create a brand</a></li>
                  <li><a href="#brands.list">List all brands</a></li>
                  <li><a href="#brands.getById">Retrieve a brand</a></li>
                  <li><a href="#brands.update">Update a brand</a></li>
                  <li><a href="#brands.delete">Delete a brand</a></li>
                </ul>
              </li>
              <li>
                <a href="#collections">Collections</a>
                <ul>
                  <li><a href="#collections.create">Create a collection</a></li>
                  <li><a href="#collections.list">List all collections</a></li>
                  <li><a href="#collections.getById">Retrieve a collection</a></li>
                  <li><a href="#collections.update">Update a collection</a></li>
                  <li><a href="#collections.delete">Delete a collection</a></li>
                </ul>
              </li>
              <li>
                <a href="#shippings" >Shippings</a>
                <ul>
                  <li><a href="#shippings.list">List all shippings</a></li>
                  <li><a href="#shippings.create">Create a new shipping</a></li>
                  <li><a href="#shippings.getById">Retrieve a shipping</a></li>
                  <li><a href="#shippings.delete">Delete a shipping</a></li>
                </ul>
              </li>
              <li>
                <a href="#promotions" >Promotions</a>
                <ul>
                  <li><a href="#promotions.getById">Retrieve a promotion</a></li>
                  <li><a href="#promotions.list">List all promotions</a></li>
                  <li><a href="#promotions.create">Create a new promotion</a></li>
                  <li><a href="#promotions.update">Updates a promotion</a></li>
                  <li><a href="#promotions.delete">Delete a promotion</a></li>
                  <li><a href="#promotions.getByCart">Get promotions by cart id</a></li>
                 
                </ul>
              </li>
              <li>
                <a href="#coupons" >Coupons</a>
                <ul>
                  <li><a href="#coupons.getById">Retrieve a coupon</a></li>
                  <li><a href="#coupons.list">List all coupons</a></li>
                  <li><a href="#coupons.create">Create a new coupon</a></li>
                  <li><a href="#coupons.update">Updates a coupon</a></li>
                  <li><a href="#coupons.delete">Delete a coupon</a></li>
                  
                </ul>
              </li>
              
              <li>
                <a href="#payments">Payments</a>
                <ul>
                  <li><a href="#payments.create">Create a payment</a></li>
                </ul>
              </li>
              
               <li>
                <a href="#variables" >Variables</a>
                <ul>
                  <li><a href="#variables.getById">Retrieve a variable</a></li>
                  <li><a href="#variables.list">List all variables</a></li>
                  <li><a href="#variables.create">Create a new variable</a></li>
                  <li><a href="#variables.update">Updates a variable</a></li>
                  <li><a href="#variables.delete">Delete a variable</a></li>
                  
                </ul>
              </li>
              
            </ul>
          </nav>
        </aside>
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-3 col-xs-12">
        
        <div class="row">
          <div class="col-lg-12 col-md-9 col-xs-12">
            <h1>cURL documentation</h1>
          </div>
        </div>
        
        <div class="row mb20">
          <div class="col-lg-12 col-md-9 col-xs-12">
            <nav id="mobile-index" >
              <a class="link" data-toggle="collapse" href="#mobile-index-collapse"><i class="fa fa-chevron-right"></i> <b>TOGGLE INDEX</b></a>
              <div class="collapse" aria-expanded="false" id="mobile-index-collapse">
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
            </ul>
            
            <h5>API Reference</h5>
            
            <ul id="api-reference-index">
              
              <li>
                <a href="#products">Products</a>
                
              </li>
              <li>
                <a href="#brands" >Brands</a>
                
              </li>
              <li>
                <a href="#carts" >Carts</a>
                
              </li>
              <li>
                <a href="#users" >Users</a>
               
              </li>
              <li>
                <a href="#addresses" >Addresses</a>
                
              </li>
              <li>
                <a href="#orders" >Orders</a>
                
              </li>
              <li>
                <a href="#categories" >Categories</a>
                
              </li>
              <li>
                <a href="#shippings" >Shippings</a>
                <ul>
                  <li><a href="#shippings.list">List all shippings</a></li>
                  <li><a href="#shippings.getById">Retrieve a shipping</a></li>
                </ul>
              </li>
              
              
            </ul>
            </div>
          </nav>
          </div>
        </div>
        <p>This is the documentation for the official Marketcloud REST API.</p>
        
        <h3 class="section-title"  id="introduction">Introduction</h3>
        <p >If you haven't set up an application yet, please refer to this <a href="/documentation/rest-api/gettingstarted" class="link">Getting Started</a> guide.</p>
        <p >Your account on Marketcloud can handle multiple marketcloud-apps, each one has its own public key / secret key pair that you insert into your cURL calls.</p>
        
    <h3 class="section-title" id="making-requests">Making requests</h3>
    <p></p>
    <pre><code class="curl">
$query = array(
   'category_id' => 1101,
   'price_lt' => 50
)
Marketcloud\Products::get($query);
    </code></pre>
    <div class="method-title">Handling errors</div>
    <p>Errors returned by the SDK have the following structure</p>
    <pre><code class="json">
{
  "code" : 404,
  "type" : "NotFound",
  "message" : "Resource not found"
}
    </code></pre>
    <p>Validation error have further attributes:</p>
    <pre><code class="json">

{    
    "code": 400,
    "type": "BadRequest",
    "message": "Bad request",
    "valid": false,
    "failedValidator": "missingRequiredProperty",
    "invalidPropertyName": "price"
}
    </code></pre>
    <!-- PRODUCTS -->
    <h3 class="section-title"  id="products">Products</h3>
   <a class="anchor" id="products.create"></a>
 <div class="method-title">Create a product</div>
    <div class="table-responsive"><table class="table table-striped">
      <thead>
        <tr>
          <th>Parameter</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name <span class="label label-success">Required</span></td>
          <td>String</td>
          <td>The product name</td>
        </tr>
        <tr>
          <td>sku</td>
          <td>String</td>
          <td>The product sku identifier</td>
        </tr>
        <tr>
          <td>category_id</td>
          <td>Integer</td>
          <td>The category identifier</td>
        </tr>
        <tr>
          <td>brand_id</td>
          <td>Integer</td>
          <td>The brand identifier</td>
        </tr>
        <tr>
          <td>store_id</td>
          <td>Integer</td>
          <td>The store identifier</td>
        </tr>
        <tr>
          <td>description</td>
          <td>String</td>
          <td>A description for the product</td>
        </tr>
        <tr>
          <td>price <span class="label label-success">Required</span></td>
          <td>Float</td>
          <td>The product price</td>
        </tr>
        <tr>
          <td>stock_type <span class="label label-success">Required</span></td>
          <td>String</td>
          <td>The stock type for the product</td>
        </tr>
        <tr>
          <td>stock_level</td>
          <td>Integer</td>
          <td>The stock level for the product</td>
        </tr>
        <tr>
          <td>stock_status</td>
          <td>String</td>
          <td>The stock_status indicates whether the</td>
        </tr>
        <tr>
          <td>published</td>
          <td>Boolean</td>
          <td>The status of the product</td>
        </tr>
        <tr>
          <td><code>&lt;attribute_name&gt;</code></td>
          <td>Mixed</td>
          <td>This resource accepts custom attributes.</td>
        </tr>
      </tbody>
    </table></div>
      <pre><code class="curl">Marketcloud\Products::create($new_product);
    </code></pre>
   <a class="anchor" id="products.getById"></a>
 <div class="method-title">Retrieve a product</div>
    <p>Retrieves a product by its id</p>
    <h5>Example request</h5>
      <pre><code class="curl">Marketcloud\Products::getById($product_id);
    </code></code></pre>
    <h5>Example response</h5>
      <pre><code class="json">
{
    "id": 13687,
    "name": "A song of fire and ice: A feast for crows",
    "sku": "ASOFAI_AFFC",
    "price": 7.79,
    "description": "A brief description of this book.",
    "published": true,
    "stock_level": 30,
    "stock_type": "track",
    "stock_status": null,
    "author": "George R. R. Martin",
    "isbn-10": "055358202X",
    "isbn-13": "978-0553582024",
    "pages": 1060,
    "editor": "Bantam Books",
    "genre": "Fantasy",
    "cover": "Paperback",
    "publication_year": "2001"
}
    </code></pre>
    <p>Note that starting from author, the remaining fields are custom attributes defined when the product was created.</p>
   <a class="anchor" id="products.list"></a>
 <div class="method-title">List all products</div>
    <p>Retrieves a list of products filtered and sorted by the query object.</p>
    <h5>Arguments</h5>
    <div class="table-responsive"><table class="table table-striped documentation">
      <thead>
        <tr>
          <th>Field</th>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="code">q</td>
          <td>String</td>
          <td>Filter results performing a text research on your products.</td>
        </tr>
        <tr>
          <td class="code">price_gt</td>
          <td>Float</td>
          <td>Display only products that cost more than the specified value.</td>
        </tr>
        <tr>
          <td class="code">price_lt</td>
          <td>Float</td>
          <td>Display only products that cost less than the specified value.</td>
        </tr>
        <tr>
          <td>category_id</td>
          <td>Integer</td>
          <td>Display products that belongs to a particular category.</td>
        </tr>
        <tr>
          <td>brand_id</td>
          <td>Integer</td>
          <td>Display products that belongs to a particular brand.</td>
        </tr>
        <tr>
          <td><code>&lt;attribute_name&gt;</code></td>
          <td>Mixed</td>
          <td>Filter products by any custom field.</td>
        </tr>
        <tr>
          <td class="code">fields</td>
          <td>String</td>
          <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
        </tr>
        <tr>
          <td  class="code">per_page</td>
          <td>Integer</td>
          <td>The number of products to retrieve per page</td>
        </tr>
        <tr>
          <td class="code">page</td>
          <td>Integer</td>
          <td>The page number of products to display</td>
        </tr>
      </tbody>
    </table></div>
    <h5>Example request</h5>
      <pre><code class="curl">
$query = array("category_id" => 5,"price_lt" => 50)
Marketcloud\Products::get($query);
    </code></pre>
    <p>The previous example queries the api for products that belongs to the category with id equal to 5 and that cost less than 50</p>
   <a class="anchor" id="products.update"></a>
 <div class="method-title">Update a product</div>
    <p class="method-description">Updates a product by id.</p>
    <h5>Arguments</h5>
    <div class="table-responsive"><table class="table table-striped documentation">
      <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        <tr>
          <td>product_id <span class="label label-success">Required</span></td>
          <td>Integer</td>
          <td>The univocal product identifier</td>
        </tr>
        <tr>
          <td>update_data <span class="label label-success">Required</span></td>
          <td>Object</td>
          <td>An object containing the updates. See <a href="#products.create" class="link">Products::create()</a> for more informations.</td>
        </tr>
      </tbody>
    </table></div>
    <h5>Example request</h5>
      <pre><code class="curl">
$update_data = array("price" => 19, "price_discount" => 12.50);
Marketcloud\Products::update($product_id,$update_data);
    </code></pre>
   <a class="anchor" id="products.delete"></a>
 <div class="method-title">Delete a product</div>
    <p class="method-description">Delete a product by id.</p>
    <h5>Example request</h5>
    <pre><code class="curl">
Marketcloud\Products::delete($product_id);
    </code></pre>
    <!-- CARTS -->
    <h3 class="section-title"  id="carts">Carts</h3>
   <a class="anchor" id="carts.create"></a>
 <div class="method-title">Create a new cart</div>
    <h5>Arguments</h5>
    <div class="table-responsive"><table class="table table-striped documentation">
      <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        <tr>
          <td>user_id</td>
          <td>Integer</td>
          <td>The univocal user identifier</td>
        </tr>
        <tr>
          <td>items <span class="label label-success">Required</span></td>
          <td>Array of Objects</td>
          <td>The list of items, in the form <code>array( "product_id" => 1 ,"quantity" => 10, array("variant_id" => 1))</code>, added on the cart</td>
        </tr>
      </tbody>
    </table></div>
    <p>A line item is an object with the following attributes</p>
    <div class="table-responsive"><table class="table table-striped documentation">
      <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
      <tbody>
        <tr>
          <td>product_id <span class="label label-success">Required</span></td>
          <td>Integer</td>
          <td>The univocal product identifier</td>
        </tr>
        <tr>
          <tr>
            <td>variant_id</td>
            <td>Integer</td>
            <td>The univocal number identifying a product's variant.</td>
          </tr>
          <tr>
            <td>quantity <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>A <i>positive</i> number that indicates how many units of the chosen product must be added to cart.</td>
          </tr>
        </tbody>
      </table></div>
      <p>Creates a new cart with a product in it.</p>
      <h5>Example request</h5>
            <pre><code class="curl">
Marketcloud\Carts::create(array(
            "items" => array(
              array( "product_id" => 2222, "quantity" =>2 ),
              array( "product_id" => 3333, "quantity" =>2 )
            )
)
      </code></pre>
     <a class="anchor" id="carts.list"></a>
 <div class="method-title">List all carts</div>
      <p>Retrieves a list of carts filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>user_id</td>
            <td>Integer</td>
            <td>Display carts that belong to the user with the given id.</td>
          </tr>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of products to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of products to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
          <pre><code class="curl">
Marketcloud\Carts::get($query);
</code></pre>
     <a class="anchor" id="carts.getById"></a>
 <div class="method-title">Retrieve a cart</div>
      <h5>Example request</h5>
        <pre><code class="curl">
Marketcloud\Carts::getById($cart_id);

</code></pre>
     <a class="anchor" id="carts.add"></a>
 <div class="method-title">Add items to cart</div>
      <h5>Example request</h5>
            <pre><code class="curl">
        //Add products to a cart identified by its id
Marketcloud\Carts::add($cart_id,
        array( array("product_id" => 5785, "quantity" =>2))
)
      </code></pre>
     <a class="anchor" id="carts.update"></a>
 <div class="method-title">Update cart contents</div>
      <p>Update quantities of products in cart or add new products to cart.</p>
      <h5>Example request</h5>
        <pre><code class="curl">
Marketcloud\Carts::update(testCart.id,array(
  array("product_id" => 5712,"quantity" =>1),
  array("product_id" => 5785,"quantity" =>1)
))

      </code></pre>
     <a class="anchor" id="carts.remove"></a>
 <div class="method-title">Remove items from cart</div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Carts::remove(testCart.id,array(
  array("product_id" => 5712),
  array("product_id" => 5785)
))

      </code></pre>
      <p>If your store works with <b>variants</b>, you need to explicitly indicate which variant you want to add/remove/update .</p>
            <pre><code class="curl">
        //Adds an item to the cart
Marketcloud\Carts::add(cart_id,array(
  array( "product_id" => 5785,
    "quantity" =>2,
    "varitant_id" => 3
  )))
//Updates an item in the cart

Marketcloud\Carts::update(cart_id,array(array(
  'product_id'=> 5785,
  'quantity'=>1,
  'variant_id' => 3
)))
        //Remove an item from the cart
Marketcloud\Carts::remove(cart_id,array(array(
  "product_id" => 5785,
  "varitant_id" => 3
)))
      </code></pre>
     <a class="anchor" id="carts.delete"></a>
 <div class="method-title">Delete a cart</div>
      <p class="method-description">Deletes a cart by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Carts::delete($cart_id)
      </code></pre>
      <!-- USERS -->
      <h3 class="section-title"  id="users">Users</h3>
     <a class="anchor" id="users.authenticate"></a>
 <div class="method-title">Authenticates a user</div>
      <h5>Example request</h5>
          <pre><code class="curl">
//Authenticates a user given email and password
Marketcloud\Users::authenticate('john.snow@wall.com','IKnowNothing')
 
      </code></pre>
      <p>If the authentication is successful, <code>data</code> is an object:</p>
        <pre><code class="json">
{
  "user" : {
    "email" : "john.doe@example.com",
    "full_name" : "John Doe"
  },
  "token" : "SECRET_TOKEN"
}
      </code> </pre>
      <p>You can use the token to make calls on behalf of the user, but since the SDK works with admin credentials, you should avoid doing it.</p>
      
     <a class="anchor" id="users.create"></a>
 <div class="method-title">Create a new user</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>email <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The user mail</td>
          </tr>
          <tr>
            <td>name <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The user name</td>
          </tr>
          <tr>
            <td>password <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The user password</td>
          </tr>
          <tr>
            <td>image_url</td>
            <td>String</td>
            <td>The URL for the user image/logo.</td>
          </tr>
          <tr>
            <td><code>&lt;attribute_name&gt;</code></td>
            <td>Mixed</td>
            <td>This resource accepts custom attributes.</td>
          </tr>
        </tbody>
      </table></div>
      <p>Use this method to register users to you eCommerce app.</p>
      <h5>Example request</h5>
        <pre><code class="curl">
//Authenticates a user given email and password
Marketcloud\Users::create(array(
  "name" => "John Snow",
  "email" => "john.snow@thewall.com",
  "password" => "IknowKnothing"
))
      
      </code></pre>
     <a class="anchor" id="users.list"></a>
 <div class="method-title">List all users</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>&lt;attribute_name&gt;</code></td>
            <td>Mixed</td>
            <td>Filter users by any custom field.</td>
          </tr>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of products to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of products to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">Marketcloud\Users::get($query);
     
      </code></pre>
     <a class="anchor" id="users.getById"></a>
 <div class="method-title">Retrieve a user</div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Users::getById(888)
     
      </code></pre>
     <a class="anchor" id="users.update"></a>
 <div class="method-title">Update a user</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>user_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal user identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#users.create" class="link">Users::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
         <pre><code class="curl">
Marketcloud\Users::update(user_id,update_data)
      </code></pre>
     <a class="anchor" id="users.delete"></a>
 <div class="method-title">Delete a user</div>
      <p>Delete a user by id</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Users::delete($user_id)
      </code></pre>
      <!-- orders -->
      <h3 class="section-title"  id="orders">Orders</h3>
     <a class="anchor" id="orders.list"></a>
 <div class="method-title">List all orders</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>user_id</td>
            <td>Integer</td>
            <td>Filter orders by the customer's id.</td>
          </tr>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of products to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of products to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
Marketcloud\Orders::get($query);
     
      </code></pre>
     <a class="anchor" id="orders.getById"></a>
 <div class="method-title">Retrieve an order</div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Orders::getById(id)
     
      </code></pre>
     <a class="anchor" id="orders.create"></a>
 <div class="method-title">Create a new order</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>items</td>
            <td>Array</td>
            <td>An array of line items.This is required if the <span class="code">cart_id</span> is missing.</td>
          </tr>
          <tr>
            <td>cart_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The id of the cart that is going to be turned into an order. This is required if <span class="code">items</span> is missing</td>
          </tr>
          <tr>
            <td>state</td>
            <td>String</td>
            <td>The state of the order. Defaults to <i>created</i></td>
          </tr>
          <tr>
            <td>shipping_address_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The id of the shipping address</td>
          </tr>
          <tr>
            <td>shipping_address</td>
            <td>Object</td>
            <td>A shipping address object. See Address for more informations. This is required if the <span class="code">shipping_address_id</span> is missing.</td>
          </tr>
          <tr>
            <td>billing_address_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The id of the billing address</td>
          </tr>
          <tr>
            <td>billing_address</td>
            <td>Object</td>
            <td>A sbilling address object. See Address for more informations. This is required if the <span class="code">billing_address_id</span> is missing.</td>
          </tr>
          <tr>
            <td>user_id</td>
            <td>Integer</td>
            <td>The id of the user making the order</td>
          </tr>
          <tr>
            <td>shipping_id</td>
            <td>Integer</td>
            <td>The id of the <b>shipping method</b> chosen for the order. Be careful, this is not the shipping address.</td>
          </tr>
          <tr>
            <td>store_id</td>
            <td>Integer</td>
            <td>The id of the store receiving in the order</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
          <pre><code class="curl">
$order = array(
  "shipping_address_id" => 111,
  "billing_address" => 111,
  "promotion_id" => $promotion->id,
  "shipping_id" => $shipping_method->id,
  "items" => array(array("product_id" => 1, "quantity" => 1), array("product_id" => 2, "quantity" => 1))
)
Marketcloud\Orders::create(the_order)

      </code></pre>
      <!-- ADDRESSES -->
      <h3 class="section-title"  id="addresses">Addresses</h3>
     <a class="anchor" id="addresses.create"></a>
 <div class="method-title">Create an address</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>full_name <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The full name of the resident</td>
          </tr>
          <tr>
            <td>email <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>A valid email address</td>
          </tr>
          <tr>
            <td>country <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The country of the address</td>
          </tr>
          <tr>
            <td>state</td>
            <td>String</td>
            <td>The state of the address</td>
          </tr>
          <tr>
            <td>city  <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The city of the address</td>
          </tr>
          <tr>
            <td>address1  <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The first address</td>
          </tr>
          <tr>
            <td>address2</td>
            <td>String</td>
            <td>Additional address space</td>
          </tr>
          <tr>
            <td>postal_code  <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The postal code of the address</td>
          </tr>
          <tr>
            <td>phone_number</td>
            <td>String</td>
            <td>The phone number for the address</td>
          </tr>
          <tr>
            <td>alternate_phone_number</td>
            <td>String</td>
            <td>An alternate phone number for the address</td>
          </tr>
          <tr>
            <td>vat</td>
            <td>String</td>
            <td>The customer's VAT number for taxation.</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Addresses::create($new_address)
      </code></pre>
     <a class="anchor" id="addresses.list"></a>
 <div class="method-title">List all addresses</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>user_id</td>
            <td>Integer</td>
            <td>Filter addresses by the customer's id.</td>
          </tr>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of addresses to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of addresses to display</td>
          </tr>
        </tbody>
      </table></div>
      <p>Retrieves a list of addresses filtered and sorted by the query object.</p>
      <h5>Example request</h5>
          <pre><code class="curl">
Marketcloud\Addresses::get($query);

      </code></pre>
     <a class="anchor" id="addresses.getById"></a>
 <div class="method-title">Retrieve an address</div>
      <p>Retrieves an address by its id.</p>
      <h5>Example request</h5>
        <pre><code class="curl">
Marketcloud\Addresses::getById($address_id);

      </code></pre>
     <a class="anchor" id="addresses.update"></a>
 <div class="method-title">Update an address</div>
      <p class="method-description">Updates a address by id.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>address_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal address identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#addresses.create" class="link">Addresses::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
$update_data = array(
    "city" => "Berlin"
    "country" => "Germany"
)
Marketcloud\Addresses::update($address_id, $update_data);

      </code></pre>
     <a class="anchor" id="addresses.delete"></a>
 <div class="method-title">Delete an address</div>
      <p class="method-description">Deletes a address by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Addresses::delete($address_id);

      </code></pre>
      <!-- CATEGORIES -->
      <h3 class="section-title"  id="categories">Categories</h3>
     <a class="anchor" id="categories.create"></a>
 <div class="method-title">Create a new category</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">name <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>The category name</td>
          </tr>
          <tr>
            <td class="code">description</td>
            <td>String</td>
            <td>A description of the category</td>
          </tr>
          <tr>
            <td class="code">image_url</td>
            <td>String</td>
            <td>The URL for the category image/logo</td>
          </tr>
          <tr>
            <td class="code">url</td>
            <td>String</td>
            <td>A label to be used in urls</td>
          </tr>
          <tr>
            <td class="code">parent_id</td>
            <td>Integer</td>
            <td>Null if it is a category.</br>With a value represents the parent category identifier, and this is a subcategory</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$new_category = array( "name" => "T-Shirts");
Marketcloud\Categories::create($new_category);
      </code></pre>
     <a class="anchor" id="categories.list"></a>
 <div class="method-title">List all categories</div>
      <p>Retrieves a list of categories filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of categories to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of categories to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$query = array("path" => "/T-Shirts");
Marketcloud\Categories::get($query);
      </code></pre>
     <a class="anchor" id="categories.getById"></a>
 <div class="method-title">Retrieve a category</div>
      <p>Retrieves a category by its id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Categories::getById($category_id);
</code></pre>
      
     <a class="anchor" id="categories.update"></a>
 <div class="method-title">Update a category</div>
      <p class="method-description">Updates a category by id.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>category_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal category identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#categories.create" class="link">Categories::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$update_data = array("name" => "tshirts");
Marketcloud\Categories::update($category_id,$update_data);
      </code></pre>
     <a class="anchor" id="categories.delete"></a>
 <div class="method-title">Delete a category</div>
      <p class="method-description">Deletes a category by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Categories::delete($category_id);

      </code></pre>
      <!-- BRANDS -->
      <h3 class="section-title"  id="brands">Brands</h3>
     <a class="anchor" id="brands.getById"></a>
 <div class="method-title">Retrieve a brand</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a brand by its id
Marketcloud\Brands::getById($id);

      </code></pre>
     <a class="anchor" id="brands.list"></a>
 <div class="method-title">List all brands</div>
      <p>Retrieves a list of Brands filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of brands to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of brands to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Brands::get();
</code></pre>
     <a class="anchor" id="brands.create"></a>
 <div class="method-title">Create a new brand</div>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td class="code">name <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>String</td>
          </tr>
          <tr>
            <td class="code">image_url</td>
            <td>String</td>
            <td>The URL for the brand image/logo.</td>
          </tr>
          <tr>
            <td class="code">description</td>
            <td>String</td>
            <td>A description of the brand.</td>
          </tr>
          <tr>
            <td class="code">url</td>
            <td>String</td>
            <td>A label to be used in urls.</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$new_brand = array("name" => "Apple");
Marketcloud\Brands::create($new_brand);
      </code></pre>
     <a class="anchor" id="brands.update"></a>
 <div class="method-title">Update a brand</div>
      <p class="method-description">Updates a brand by id.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>brand_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal brand identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#brands.create" class="link">Brands::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$new_brand = array("name" => "Apple");
Marketcloud\Brands::update($brand_id,$new_brand);

      </code></pre>
     <a class="anchor" id="brands.delete"></a>
 <div class="method-title">Delete a brand</div>
      <p class="method-description">Deletes a brand by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Brands::delete($brand_id);

      </code></pre>

<!-- Collections -->
 <!-- BRANDS -->
      <h3 class="section-title"  id="collections">Collections</h3>
     <a class="anchor" id="collections.getById"></a>
 <div class="method-title">Retrieve a collection</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a collection by its id
Marketcloud\Collections::getById($id);

      </code></pre>
     <a class="anchor" id="collections.list"></a>
 <div class="method-title">List all collections</div>
      <p>Retrieves a list of Collections filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of collections to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of collections to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Collections::get();
</code></pre>
     <a class="anchor" id="collections.create"></a>
 <div class="method-title">Create a new collection</div>
      <div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">name <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The name of the collection</td>
      </tr>
      <tr>
        <td class="code">slug</td>
        <td>String</td>
        <td>URL friendly string</td>
      </tr>
       <tr>
        <td class="code">Description</td>
        <td>String</td>
        <td>A description of the collection</td>
      </tr>

      <tr>
        <td class="code">items</td>
        <td>Array</td>
        <td>An array of collection entries, see the table below for more details</td>
      </tr>
    
     
      
    </tbody>
  </table>
</div>


<h5>Collection entry</h5>
<div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">product_id <span  class="label label-success">Required</span></td>
        <td>Number</td>
        <td>The id of the product entry.</td>
      </tr>
      <tr>
        <td class="code">variant_id <span  class="label label-success">Required</span></td>
        <td>Number</td>
        <td>The variant_id of the product entry</td>
      </tr>
       
      
    </tbody>
  </table>
</div>

      <h5>Example request</h5>
        <pre><code class="curl">
$new_collection = array(
"name" => "2016 Winter collection",
"items" => array(
  array("product_id" => 123, "variant_id" => 1),
  array("product_id" => 124, "variant_id" => 1),
  array("product_id" => 125, "variant_id" => 1),
)
);
Marketcloud\Collections::create($new_collection);
      </code></pre>
     <a class="anchor" id="collections.update"></a>
 <div class="method-title">Update a collection</div>
      <p class="method-description">Updates a collection by id.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>collection_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal collection identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#collections.create" class="link">Collections::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$collection_update = array("name" => "2016 Spring Collection");
Marketcloud\Collections::update($collection_id,$collection_update);

      </code></pre>
     <a class="anchor" id="collections.delete"></a>
 <div class="method-title">Delete a collection</div>
      <p class="method-description">Deletes a collection by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Collections::delete($collection_id);

      </code></pre>

<!-- End of Collections -->

<!-- Shippings -->
<!-- shippingS -->
      <h3 class="section-title"  id="shippings">Shippings</h3>
     <a class="anchor" id="shippings.getById"></a>
 <div class="method-title">Retrieve a shipping</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a shipping by its id
Marketcloud\Shippings::getById($id);

      </code></pre>
     <a class="anchor" id="shippings.list"></a>
 <div class="method-title">List all shippings</div>
      <p>Retrieves a list of Shippings filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of shippings to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of shippings to display</td>
          </tr>
          <tr>
            <td class="code">value</td>
            <td>Integer</td>
            <td>Return only those shipping methods that allow the wanted total value </td>
          </tr>
          <tr>
            <td class="code">weight</td>
            <td>Integer</td>
            <td>Return only those shipping methods that allow the wanted total weight </td>
          </tr>
          <tr>
            <td class="code">height</td>
            <td>Integer</td>
            <td>Return only those shipping methods that allow the wanted total height </td>
          </tr>
          <tr>
            <td class="code">depth</td>
            <td>Integer</td>
            <td>Return only those shipping methods that allow the wanted total depth </td>
          </tr>
          <tr>
            <td class="code">width</td>
            <td>Integer</td>
            <td>Return only those shipping methods that allow the wanted total width </td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
// Get eligible shippings methods for orders
// with a total value of $cart_value
// and a total weight of 40
Marketcloud\Shippings::get(array(
    "value" => $cart_value,
    "weight" => 40
));
</code></pre>
     <a class="anchor" id="shippings.create"></a>
 <div class="method-title">Create a new shipping</div>
      <h5>Arguments</h5>
      <div class="table-responsive">
      <table class="table table-striped documentation">
                  <thead>
                    <tr>
                      <th>Attribute</th>
                      <th>Type</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="code">name <span  class="label label-success">Required</span></td>
                      <td>String</td>
                      <td>The shipping name</td>
                    </tr>
                    <tr>
                      <td class="code">base_cost <span  class="label label-success">Required</span></td>
                      <td>Number</td>
                      <td>The base price for this shipping method.</td>
                    </tr>
                    <tr>
                      <td class="code">per_item_cost</td>
                      <td>Number</td>
                      <td>The additional price for each item in the shipment.</td>
                    </tr>
                    <tr>
                      <td class="code">min_value</td>
                      <td>Number</td>
                      <td>Orders with a total price greater than <span class="code">min_value</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">max_value</td>
                      <td>Number</td>
                      <td>Orders with a total price smaller than <span class="code">max_value</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">min_weight</td>
                      <td>Number</td>
                      <td>Orders with a total weight greater than <span class="code">min_weight</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">max_weight</td>
                      <td>Number</td>
                      <td>Orders with a total weight smaller than <span class="code">max_weight</span> are eligible for this shipping rule.</td>
                    </tr>

                    <tr>
                      <td class="code">min_width</td>
                      <td>Number</td>
                      <td>Orders with a total width greater than <span class="code">min_weight</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">max_width</td>
                      <td>Number</td>
                      <td>Orders with a total width smaller than <span class="code">max_width</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">min_height</td>
                      <td>Number</td>
                      <td>Orders with a total height greater than <span class="code">min_height</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">max_height</td>
                      <td>Number</td>
                      <td>Orders with a total height smaller than <span class="code">max_height</span> are eligible for this shipping rule.</td>
                    </tr>


                    <tr>
                      <td class="code">min_depth</td>
                      <td>Number</td>
                      <td>Orders with a total depth greater than <span class="code">min_depth</span> are eligible for this shipping rule.</td>
                    </tr>
                    <tr>
                      <td class="code">max_depth</td>
                      <td>Number</td>
                      <td>Orders with a total depth smaller than <span class="code">max_depth</span> are eligible for this shipping rule.</td>
                    </tr>
                    
                    
                  </tbody>
                </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
// This shipping is eligible for orders with total value greater than 20
$new_shipping = array(
  "name" => "Free shipping",
  "base_cost" => 0,
  "per_item_cost" => 0,
  "min_value" => 20
);
Marketcloud\Shippings::create($new_shipping);
      </code></pre>
     <a class="anchor" id="shippings.update"></a>
 <div class="method-title">Update a shipping</div>
      <p class="method-description">Updates a shipping by id.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
        <tbody>
          <tr>
            <td>shipping_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The univocal shipping identifier</td>
          </tr>
          <tr>
            <td>update_data <span class="label label-success">Required</span></td>
            <td>Object</td>
            <td>An object containing the updates. See <a href="#shippings.create" class="link">Shippings::create()</a> for more informations.</td>
          </tr>
          
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
$update = array("name" => "Fruit");
Marketcloud\Shippings::update($shipping_id,$update);

      </code></pre>
     <a class="anchor" id="shippings.delete"></a>
 <div class="method-title">Delete a shipping</div>
      <p class="method-description">Deletes a shipping by id.</p>
      <h5>Example request</h5>
      <pre><code class="curl">
Marketcloud\Shippings::delete($shipping_id);

      </code></pre>
<!-- Promotions -->
<!-- promotionS -->
      <h3 class="section-title"  id="promotions">Promotions</h3>
      <blockquote class="blockquote-warning">
    <b>Warning</b><br/> This is a new feature, if you find some issue, please report at info@marketcloud.it.
    Also, note that you have to create promotions from the dashboard.
  </blockquote>



     <a class="anchor" id="promotions.list"></a>
 <div class="method-title">List promotions</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a paginated list of promotions
$query = array(
  "active" => true 
)
Marketcloud\Promotions::get($query);
      </code></pre>


     <a class="anchor" id="promotions.create"></a>
 <div class="method-title">Create a promotion</div>
      <div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">name <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The name of the promotion</td>
      </tr>
      <tr>
        <td class="code">conditions <span  class="label label-success">Required</span></td>
        <td>Mixed</td>
        <td>An array of conditions, a condition is an object describing the rules under which a promotion can be applied to an order. See the table below for further information</td>
      </tr>
       <tr>
        <td class="code">effects <span  class="label label-success">Required</span></td>
        <td>Mixed</td>
        <td>An array of effects, an effect is an object describing the impact of the promotion on the final order. See the table below for further information</td>
      </tr>

      <tr>
        <td class="code">active</td>
        <td>Boolean</td>
        <td>If false, the promotion can not be used by any order.</td>
      </tr>
    
     
      
    </tbody>
  </table>
</div>


<h5>Promotion condition model</h5>
<div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">type <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The type of the condition, possible values are <code>'MIN_NUMBER_OF_PRODUCTS'</code> triggered when the cart has at least a certain number of products, <code>'MIN_CART_VALUE'</code> triggered when the total value of the products in cart is greater than or equal to a certain value, <code>'CART_HAS_ITEM'</code> when the cart contain a certain item.</td>
      </tr>
      <tr>
        <td class="code">value <span  class="label label-success">Required</span></td>
        <td>Number</td>
        <td>The value of the</td>
      </tr>
       
      
    </tbody>
  </table>
</div>



<h5>Promotion effect model</h5>
<div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">type <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The type of the effect, possible values are <code>'CART_VALUE_PERCENTAGE_REDUCTION'</code> will reduce the total cart value by a percentage value, <code>'CART_VALUE_NET_REDUCTION'</code> will redduce the total cart value by a fixed value, <code>'CART_ITEMS_NET_REDUCTION'</code> will reduce only the value of items by a fixed value, <code>'CART_ITEMS_PERCENTAGE_REDUCTION'</code> will reduce only the value of items by a percentage value, <code>FREE_SHIPPING</code> will discount the value of shipping.</td>
      </tr>
      <tr>
        <td class="code">value <span  class="label label-success">Required</span></td>
        <td>Number</td>
        <td>The value of the effect.</td>
      </tr>
      
    </tbody>
  </table>
</div>

      <h5>Example request</h5>
        <pre><code class="curl">//Creates a new promotion that grants 
//free shipping on order with a cart value above 70$ 
$promotion = array(
  "name" => "Free shipping above 70$",
  "conditions" => array(
    array(
      "type" => "MIN_CART_VALUE",
      "value" => 70
    )
  ),
  "effects" => array(
    array(
        "type" : "FREE_SHIPPING",
        "value" : "FREE SHIPPING"
      )
  ),

)

Marketcloud\Promotions::create($promotion);
      </code></pre>


<div class="method-container">
<a class="anchor" id="promotions.update"></a>
 <div class="method-title">Updates a promotion</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Updates promotion,
$promotion_update = array(
"name" => "Free shipping above 50$",
  "conditions" => array(
    array(
      "type" => "MIN_CART_VALUE",
      "value" => 50
    )
  ),
)

Marketcloud\Promotions::update($promotion_id,$promotion_update);
      </code></pre>


  <a class="anchor" id="promotions.delete"></a>
 <div class="method-title">Delete a promotion</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Delete a promotion by its id
Marketcloud\Promotions::delete($id);
      </code></pre>

</div>





     <a class="anchor" id="promotions.getById"></a>
 <div class="method-title">Retrieve a promotion</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a promotion by its id
Marketcloud\Promotions::getById($id);
      </code></pre>
     <a class="anchor" id="promotions.getByCart"></a>
 <div class="method-title">Get by cart</div>
      <p>Retrieves a list of Promotions that can be applied to the given cart.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td class="code">cart_id</td>
            <td>Integer</td>
            <td>Return only those promotion methods are compatibles with the cart with id <code>cart_id</code> </td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="curl">
// Get eligible promotions for cart with id 1234
Marketcloud\Promotions::getByCart(1234);
</code></pre>
      


<!-- Coupons -->




<h3 class="section-title"  id="coupons">Coupons</h3>
      <blockquote class="blockquote-warning">
    <b>Warning</b><br/> This is a new feature, if you find some issue, please report at info@marketcloud.it.
    Also, note that you have to create coupons from the dashboard.
  </blockquote>



 <a class="anchor" id="coupons.getById"></a>
 <div class="method-title">Retrieve a coupon</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a coupon by its id
Marketcloud\Coupons::getById($id);
      </code></pre>


     <a class="anchor" id="coupons.list"></a>
 <div class="method-title">List coupons</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a paginated list of coupons
$query = array(
  "active" => true 
)
Marketcloud\Coupons::get($query);
      </code></pre>


     <a class="anchor" id="coupons.create"></a>
 <div class="method-title">Create a coupon</div>
      <h5>Parameters</h5>
      <div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">name <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The variable name</td>
      </tr>
      <tr>
        <td class="code">code <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The secret code that the customer must match to benefit from the coupon.</td>
      </tr>
      <tr>
        <td class="code">target_type <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>This parameter tells the API where the coupon can be applied. Use  <code>'CART_COUPON'</code> if you want to apply a discount to the whole cart, <code>'PRODUCT_COUPON'</code> if the discount is appliable only to a specific product, and <code>'CATEGORY_COUPON'</code> if the discount can be applied to all products in a certain category.</td>
      </tr>
      
      <tr>
        <td class="code">discount_type <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>This parameter tells the API which is the type of discount. Use  <code>'NET_REDUCTION'</code> if you want to apply a net discount, or use <code>'PERCENTAGE_DISCOUNT'</code> if you want to apply a percentage discount.</td>
      </tr>
      
      <tr>
        <td class="code">discount_value <span  class="label label-success">Required</span></td>
        <td>Number</td>
        <td>The value of the discount, if the discount_type is <code>PERCENTAGE_DISCOUNT</code> the discount_value represent the percentage of discount to apply (the percentage is calculated against the target, cart, product or category) </td>
      </tr>
      <tr>
        <td class="code">active</td>
        <td>Boolean</td>
        <td>Tells wether the coupon is active or not.</td>
      </tr>
      
    </tbody>
  </table>
</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Creates a new coupon worth 10$
$coupon = array(
  "name" => "Welcome coupon 10$ discount",
  "code" => "XS671GH",
  "type" => "total",
  "target_type" => "CART_COUPON",
  "discount_type" => "NET_REDUCTION",
  "discount_value" => 10
)

Marketcloud\Coupons::create($coupon);
      </code></pre>


     <a class="anchor" id="coupons.update"></a>
 <div class="method-title">Updates a coupon</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Updates coupon, sets the discount value to 20
$coupon_update = array(
  "name" => "Welcome coupon 20$ discount",
  "discount_value" => 20
)

Marketcloud\Coupons::update($coupon_id,$coupon_update);
      </code></pre>



     <a class="anchor" id="coupons.delete"></a>
 <div class="method-title">Delete a coupon</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Delete a coupon by its id
Marketcloud\Coupons::delete($id);
      </code></pre>






      
      
<!-- End of Coupons -->





<!-- Paymentes -->

<h3 class="section-title"  id="payments">Payments</h3>
  <p>Marketcloud supports a certain number of payment methods. Most of them requires client side and server side configuration, we try to abstract the server side part, so you just have to configure client side scripts.</p>
  <p>You can find the list of payment methods supported by Marketcloud in your application's dashboard under the <b>settings</b> > <b>payments</b> page. There you will also find a link to the documentation related to each payment method.</p>
  <blockquote class="blockquote-info">
    <b>Info</b><br/>
    In order to create payments using a payment method, you must enable and configure that method in your dashboard.
  </blockquote>
     <a class="anchor" id="payments.create"></a>
 <div class="method-title">Create a payment</div>
            <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>method <span class="label label-success">Required</span></td>
            <td>String</td>
            <td>A valid name of one of the supported payment methods. You can see a list of supported payment methods in Dashboard > settings > payments.</td>
          </tr>
          <tr>
            <td  class="code">order_id</td>
            <td>Integer</td>
            <td>The id of the order related to this payment.</td>
          </tr>
          <tr>
            <td class="code">&lt;attribute&gt;</td>
            <td>Mixed</td>
            <td>Every payment method requires different additional parameters. Refer to the payment method documentation for more informations.</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="curl">
// Braintree example
Marketcloud\Payments::create(array(
  "method" => "Braintree",
  "order_id" => $order->id,
  "nonce" => $BraintreeNonce
));

// Stripe example
Marketcloud\Payments::create(array(
  "method" => "Stripe",
  "order_id" => $order->id,
  "source" => $StripeSource
));

// In both cases, nonce and source are obtained from Braintree
// and Stripe servers using their client side SDKs
      </code></pre>

<!-- Variables -->
<h3 class="section-title"  id="variables">Variables</h3>
      <blockquote class="blockquote-warning">
    <b>Warning</b><br/> This is a new feature, if you find some issue, please report at info@marketcloud.it.
    Also, note that you have to create variables from the dashboard.
  </blockquote>



     <a class="anchor" id="variables.list"></a>
 <div class="method-title">List variables</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a paginated list of variables
$query = array(
  "active" => true 
)
Marketcloud\Variables::get($query);
      </code></pre>


     <a class="anchor" id="variables.create"></a>
 <div class="method-title">Create a variable</div>
      <h5>Model</h5>
      <div class="table-responsive">
  <table class="table table-striped documentation">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="code">name <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>The variable name</td>
      </tr>
      <tr>
        <td class="code">value <span  class="label label-success">Required</span></td>
        <td>Mixed</td>
        <td>The value of your variable</td>
      </tr>
      <tr>
        <td class="code">type <span  class="label label-success">Required</span></td>
        <td>String</td>
        <td>This parameter tells the API the type of this variable, the possible values are <code>string</code>, <code>number</code> and <code>boolean</code></td>
      </tr>
     
      
    </tbody>
  </table>
</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Creates a new variable
$variable = array(
  "name" => "google_analytics_code",
  "code" => "UA-127168162196",
  "type" => "string"
)

Marketcloud\Variables::create($variable);
      </code></pre>



     <a class="anchor" id="variables.delete"></a>
 <div class="method-title">Delete a variable</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Delete a variable by its id
Marketcloud\Variables::delete($id);
      </code></pre>






     <a class="anchor" id="variables.getById"></a>
 <div class="method-title">Retrieve a variable</div>
      <h5>Example request</h5>
        <pre><code class="curl">//Retrieves a variable by its id or name

// This works
Marketcloud\Variables::getById("google_analytics_code");

// And also this
Marketcloud\Variables::getById(123);
      </code></pre>
      
<!-- End of variables -->

    </div>
  </div>
</div>
</section>
<script type="text/javascript">
$(document).ready(function(){

  $("nav>ul#api-reference-index>li>a").click(function(e){
    e.preventDefault();
    $(e.target).parent().toggleClass('active');
  });

  $("nav>ul#api-reference-index>li> ul > li > a").click(function(e){

  $("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
  $(e.target).parent().toggleClass('active');

  });
})

</script>
</body>
</html>