<% include ../../../header/ %>
<% include ../../../navbar/ %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />


<section class="inverse sub-navbar">
  <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <ul class="horizontal-menu nav navbar-nav">

             <li><a href="/documentation">Documentation</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="/documentation/reference">API Reference</a></li>
             <li><a><i class="fa fa-angle-right"></i></a></li>
             <li><a href="/documentation/reference/swift">Swift</a></li>
             
           </ul>
        </div>
      </div>
  </div>
</section>
<section class="documentation-page">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <aside class="page-navigation">
          
          <nav id="index">
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
            </ul>
            
            <h5>API Reference</h5>
            
            <ul id="api-reference-index">
              
              <li>
                <a href="#products">Products</a>
                <ul>
                  <li><a href="#products.list">List all products</a></li>
                  <li><a href="#products.getById">Retrieve a product</a></li>
                </ul>
              </li>
              <li>
                <a href="#brands" >Brands</a>
                <ul>
                  <li><a href="#brands.list">List all brands</a></li>
                  <li><a href="#brands.getById">Retrieve a brand</a></li>
                </ul>
              </li>
              <li>
                <a href="#carts" >Carts</a>
                <ul>
                  <li><a href="#carts.create">Create a cart</a></li>
                  <li><a href="#carts.getById">Retrieve a cart</a></li>
                  <li><a href="#carts.add">Add items to cart</a></li>
                  <li><a href="#carts.update">Update cart contents</a></li>
                  <li><a href="#carts.remove">Remove items from cart</a></li>
                </ul>
              </li>
              <li>
                <a href="#users" >Users</a>
                <ul>
                  <li><a href="#users.create">Create a user</a></li>
                  <li><a href="#users.authenticate">Authenticate a user</a></li>
                  <li><a href="#users.isloggedin">Check login status</a></li>
                  <li><a href="#users.logout">Logout</a></li>
                  <li><a href="#users.getCurrent">Retrieve the user</a></li>
                  <li><a href="#users.update">Update the user</a></li>
                  <li><a href="#users.delete">Delete the user</a></li>
                </ul>
              </li>
              <li>
                <a href="#addresses" >Addresses</a>
                <ul>
                  <li><a href="#addresses.create">Create an address</a></li>
                  <li><a href="#addresses.list">List all addresses</a></li>
                  <li><a href="#addresses.getById">Retrieve an address</a></li>
                  <li><a href="#addresses.update">Update an address</a></li>
                  <li><a href="#addresses.delete">Delete an address</a></li>
                </ul>
              </li>
              <li>
                <a href="#orders" >Orders</a>
                <ul>
                  <li><a href="#orders.create">Create an order</a></li>
                  <li><a href="#orders.list">List all orders</a></li>
                  <li><a href="#orders.getById">Retrieve an order</a></li>
                </ul>
              </li>
              <li>
                <a href="#categories" >Categories</a>
                <ul>
                  <li><a href="#categories.list">List all categoriess</a></li>
                  <li><a href="#categories.getById">Retrieve a category</a></li>
                </ul>
              </li>
              <!--<li>
                <a href="#shippings" >Shippings</a>
                <ul>
                  <li><a href="#shippings.list">List all shippings</a></li>
                  <li><a href="#shippings.getById">Retrieve a shipping</a></li>
                </ul>
              </li>-->
              
              
            </ul>
          </nav>
        </aside>

       
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-3 col-xs-12">
        
        <div class="row">
          <div class="col-lg-12 col-md-9 col-xs-12">
            <h1>Swift SDK documentation</h1>
            
          </div>

        </div>
        <div class="row mb20">
          <div class="col-lg-12 col-md-9 col-xs-12">
            <nav id="mobile-index" >
              <a class="link" data-toggle="collapse" href="#mobile-index-collapse"><i class="fa fa-chevron-right"></i> <b>TOGGLE INDEX</b></a>
              <div class="collapse" aria-expanded="false" id="mobile-index-collapse">
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
            </ul>
            
            <h5>API Reference</h5>
            
            <ul id="api-reference-index">
              
              <li>
                <a href="#products">Products</a>
                
              </li>
              <li>
                <a href="#brands" >Brands</a>
                
              </li>
              <li>
                <a href="#carts" >Carts</a>
                
              </li>
              <li>
                <a href="#users" >Users</a>
               
              </li>
              <li>
                <a href="#addresses" >Addresses</a>
                
              </li>
              <li>
                <a href="#orders" >Orders</a>
                
              </li>
              <li>
                <a href="#categories" >Categories</a>
                
              </li>
            </ul>
            </div>
          </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-9 col-xs-12">
            <p>This is the documentation for the official Marketcloud Swift SDK. It is a wrapper for our REST api and it makes it easier to use.</p>
          </div>
        </div>
        
        <div class="row">
          <h3 id="introduction">Introduction</h3>
          <p >If you haven't set up an application yet, please refer to the <a href="/documentation/rest-api/gettingstarted" class="link">Getting Started</a> section. You can also check out our API Reference for more detailed information about our SDK.</p>
          <p >In Marketcloud, you create an App for each of your web/mobile applications. Each App has its own public key that you insert into your web app. Your account on Marketcloud can handle multiple Apps.</p>

        </div>
        <div class="row"  class="text-center">
          <h1>Work in progress</h1>
          <p> We will get the doc online as soon as possible</p>
        </div>
</div>
</div>
</div>
</section>
<script type="text/swift">
$(document).ready(function(){

  $("nav>ul#api-reference-index>li>a").click(function(e){
    e.preventDefault();
    $(e.target).parent().toggleClass('active');
  })

  $("nav>ul#api-reference-index>li> ul > li > a").click(function(e){

  $("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
  $(e.target).parent().toggleClass('active');

  })
})

</script>
</body>
</html>