<% include header %>
<% include navbar %>

	<section id="third-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-lg-offset-3 mb50 mt50">
					<h1 class="ct">Beta Plan Info</h1>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-0 col-lg-3 ct"></div>
				<div class="col-xs-12 col-lg-6 ct">
					<p class="lead">
						This plan is a beta version of the Marketcloud platform.
						Use it to evaluate the functionality of the API.
						This is not production ready, therefore you can use it at your own risk.
						Marketcloud's team and the Herapi Srls are not responsible for using it in a
						production environment.
						However, we will provide any help you need by just contacting our support team <a class="link" href="mailto:info@marketcloud.it?subject=Support beta account">here</a>.
						Each beta account lets you create applications and api keys, allowing you to set up your
						client environment. 
						Each application has a limt of 5000 monthly api calls.
						If you need more, <a class="link" href="mailto:info@marketcloud?subject=More api calls">let us know</a>.
						We'll see what we can arrange.
						We reserve the right to modify the conditions of this plan at our judgment.
						However we will notify any change by mail.
						We reserve the right to close the beta account at any time, if the owner won't respect or terms and conditions.
					</p>				
				</div>
				<div class="col-xs-0 col-lg-3 ct"></div>
			</div>
			
		</div>
	</section>
<% include footer %>
