<div id="disclaimer-container">
				<p id="disclaimer">By using this website you implicitly accept our cookies. For more informations read our <a href="/cookies" class="link" style="color:#5bc0de" id="demo_request">Cookie policy </a>
				<button class="btn btn-sm btn-info" style="margin-left:10px" id="gotcha">Gotcha!</button></p>
</div>