<% include header %>
<% include navbar %>


<section class="main mt20">
	
	<div class="container-fluid">

		<div class="row">
			<div class="ct"><img src="/img/owl.png" style="max-width:100px" /></div>
			<h1 class="main-page-header ct">Documentation</h1>
			<h3 class="main-sub-header ct">The documentation is coming soon. Stay tuned.</h3>
		</div>


	</div>

</section>
<% include footer %>