<% include header %>
<% include navbar %>

				<section id="third-section">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-lg-6 col-lg-offset-3 mb50 mt100 text-center">
								<div><img src="/img/Toilet-Paper.png"/></div>
								<h1>Wooops, An error has occurred</h1>
								<p class="lead">Do not worry, a handsome member of the technical staff is already working on it!</p>
							</div>

						</div>
						
					</div>
				</section>
				<% include footer %>
