<% include header %>
<% include navbar %>

				<section class="grey" style="min-height:auto">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-2 mb50 mt50">
								<h2>Let's build together</h2>
								<p class="lead">Our mission is to let you build <i>better</i> e-commerce application in a shorter time. That's why we built Marketcloud to be fast, scalable, reliable, secure and easy to use.</p>
								<p class="lead">Focus on creating an awesome user experience. Don't worry about databases and infrastructure, the Marketcloud platform handles your entire backend.
								</p>
								<div>
								<a class="btn btn-lg btn-embossed btn-danger" href="/account/signup">Create a free account</a></div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4  col-lg-3  mb50 mt50 xs-hide sm-hide">
								<div class="ct">
									<img src="img/toolbox.png" style="max-width:100%" alt="E-Commerce backend as a service logo"/>
								</div>
							</div>

						</div>

				
					</div>
				</section>
				<section style="min-height:auto;display:none">
					<div class="container-fluid">
						<div class="row">
							
							<div class="col-xs-12 col-lg-4 col-lg-offset-2 mb50 mt50">
							<img alt="cross platform devices" src="img/devices.png" style="max-width:100%"/></div>
							<div class="col-xs-12 col-lg-4 mb50 mt50">
								<h3>Work smarter, not harder</h3>
								<div class="mb20"><p class="lead">Use our flexible APIs and adapt them to your development flow.</p></div>
								<div class="mb20"><h4>Components</h4><p class="lead">Choose and use only the components you need, each one is decoupled and able to work on its own.</p></div>
								<div class="mb20"><h4>Cross platform</h4><p class="lead">Use our SDKs or our REST API from any platform.</p></div>
							</div>
						</div>
					</div>
				</section>

				<section style="min-height:auto">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-6 col-lg-offset-3">
								<div class="ct">
									
									<h2>Work smarter, not harder</h2>
								</div>
								
								
							</div>
						</div>
					</div>
				</section>


				<section style="min-height:auto">
					<div class="container-fluid">
						<div class="row">
							
							<div class="col-xs-12 col-lg-4 col-lg-offset-2 mb50 ct">
								<img alt="Authentication icon" src="img/key.png" style="max-width:100%"/>
								<h3>Authentication</h3>
								<div class="mb20">
									<p class="lead">Authenticate your users with Facebook, Twitter or by Email with a few lines of code and access their preferences, carts and browsing history on Marketcloud. All without rolling out your backend code.</p>
								</div>
								
							</div>

							<div class="col-xs-12 col-lg-4 mb50 ct">
								<img alt="Dashboard preview image" src="img/find.png" style="max-width:100%"/>
								<h3>Search Engine</h3>
								<div class="mb20">
									<p class="lead">
										Every resource you create in your Marketcloud application, gets indexed in our search engine.
										Search anything related to your app with our search api. Never let the customer down with unsatisfying search results. 
									</p>
								</div>
								
								
								
							</div>
							</div>
							<div class="row">
							<div class="col-xs-12 col-lg-4 col-lg-offset-2 mb50 ct">
								<img alt="Dashboard icon" src="img/settings.png" style="max-width:100%"/>
								<h3>Dashboard</h3>
								<div class="mb20"><p class="lead">
								A well designed interface can save you a lot of time when handling an e-commerce store.
								Our Backshop dashboard is a quick and powerful application that lets you manage and visualize your e-commerce data.</p></div>
								
								
								
							</div>

							<div class="col-xs-12 col-lg-4 mb50 ct">
								<img alt="Cloud database icon" src="img/stack.png" style="max-width:100%"/>
								<h3>Data Layer</h3>
								<div class="mb20">
									<p class="lead">In Marketcloud all the data comes in form of JSON documents. Our API completely abstracts database-related mechanics and every client connected to your app share the same version of the data.</p>
								</div>
							</div>

							
								
							</div>
							
						</div>
					</div>
				</section>


				
				


				<% include footer %>