<% include header %>

<script type="text/javascript">
	mixpanel.track('features_view',{
		referrer : document.referrer
	})
</script>
				<section class="grey">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-2 mb50 mt50">
								<h2>Let's build together!</h2>
								<p class="lead">Our mission is <i>to help you build better e-commerce applications in less time</i>, that's why we built Marketcloud to be <i>fast, scalable, reliable, secure and easy to use</i>.</p>
								<p class="lead">Focus on creating an awesome user experience. Don't worry about databases and infrastructure, the Marketcloud platform handles your entire backend.
								</p>
								<div>
								<a class="btn btn-lg btn-embossed btn-danger" href="/beta-signup">Get early access</a></div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4  col-lg-3  mb50 mt50 xs-hide sm-hide">
								<div class="ct">
									<img src="img/toolbox.png" style="max-width:100%"/>
								</div>
							</div>

						</div>

						<div class="row mt50">
							

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div class="feature_image_container">
									<img src="img/buy.png" style="max-height:100%;"/>
									</div>
									<h4>Browse to Checkout flow</h4>
									<p>We provide you modules to manage Carts, Orders, Users, Products and so forth. You can add such functionalities to your website with just a couple lines of code!</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div class="feature_image_container">
									<img src="img/Pocket.png" style="max-height:100%;"/>
									</div>
									<h4>Marketplace support</h4>
									<p>Are you building the next Etsy and need to setup a multivendor environment? We got you covered.</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div class="feature_image_container">
									<img src="img/traffic_light.png" style="max-height:100%;"/>
									</div>
									<h4>Authentication</h4>
									<p>With Marketcloud you can authenticate users with our dedicated api endpoints, your customers will be asked to grant permission to your website and you will receive their information without another registration form.</p>
								</div>


								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div class="feature_image_container">
									<img src="img/json_01.png" style="max-height:100%;"/>
									</div>
									<h4>JSON</h4>
									<p>Everybody loves <a href="http://en.wikipedia.org/wiki/JSON">JSON</a>, humans can read it and machines can parse it efficiently. What else?</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<img src="img/rest_02.png" style="max-width:100%;border:1px solid #ddd; border-radius:4px;height:130px;"/>
									<h4>REST</h4>
									<p>We designed our API to be RESTful because we believe that the implicit simplicity offered by <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">REST architecture</a> is a great benefit for our customers.</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<img src="img/http_example_1.png" style="max-width:100%;border:1px solid #ddd; border-radius:4px;height:130px;"/>
									<h4>HTTP</h4>
									<p>We love HTTP, it's a universal language, everyone can understand it. Marketcloud makes use of standard HTTP verbs and response codes <a href="http://www.restapitutorial.com/httpstatuscodes.html">at best.</a></p>
								</div>
					</div>
					</div>
				</section>
				<section>
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 mb50 mt50">
								<h2>Easy to use Dashboard</h2>
								<p class="lead bigger">Our Backshop dashboard is designed to speed up the process of data creation. It is designed to be easy to use so that <i>even non-technical staff</i> can manage products, categories and other resources.</p>
								<p class="lead">You can also add collaborators to help you manage the e-commerce data, or to <i>give access to the store owner</i>.</p>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4  mb50 mt50">
								<div class="ct"><img src="img/screen_5.png" style="max-width:100%"/></div>
								
								
								
							</div>

						</div>
						<div class="row mt50">
							<div class="col-xs-12 col-lg-10 col-lg-offset-1">

								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div style="border:1px solid #ddd; border-radius:4px;height:130px;background-color:white;text-align:center;">
									<img src="img/sunglasses.png" style="max-height:100%;"/>
									</div>
									<h4>Easy variants generation</h4>
									<p>We provide you modules to manage Carts, Orders, Users, Products and so forth. You can add such functionalities to your website with just a couple lines of code!</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<img src="img/chart_01.png" style="max-width:100%;border:1px solid #ddd; border-radius:4px;height:130px;"/>
									<h4>Built in analytics</h4>
									<p>Are you building the next Etsy and need to setup a multivendor environment? We got you covered.</p>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 single_feature">
									<div style="border:1px solid #ddd; border-radius:4px;height:130px;background-color:white;text-align:center;">
									<img src="img/support.png" style="max-height:100%;"/>
									</div>
									<h4>Customer messaging system</h4>
									<p>With Marketcloud you can authenticate users with our OAUTH v2 api endpoints, your customers will be asked to grant permission to your website and you will receive their information without another registration form.</p>
								</div>
							</div>
						</div>
						
					</div>
				</section>
				<% include footer %>
