<section class="resource">
<!-- paymentMethods -->
<h3 id="paymentMethods">Payment methods</h3>
<p>Payment methods are a way to describe how customers will pay the goods they are buying. We have some default payment methods which are integrated into the system such as Braintree and Stripe, but your store might want some custom methods, such as cash on delivery.</p>
<h5>Usage with orders</h5>
<p>In order to tell Marketcloud that an order is using a certain payment method, just create an order with a <code>payment_method_id</code> value. See <a href="#orders.create" class="link">orders.create</a> for an example </p>


<a class="anchor" id="paymentMethods.create"></a>
<div class="method-title">Create a payment method</div>
<pre><code class="javascript">//Creates a new payment method

var new_payment_method = {
    "name" : "Cash on delivery",
    "description" : "The order is paid at delivery.",
    "cost_type" : "fixed_fee",
    "fixed_fee" : 5,
    "active" : true
}

  marketcloud.paymentMethods.create(new_payment_method)
  .then( function(response){

  })
  .catch( function(error){

  })</code></pre>



<a class="anchor" id="paymentMethods.update"></a>
<div class="method-title">Update a payment method</div>
<pre><code class="javascript">//Updates a new payment method
  marketcloud.paymentMethods.update({fixed_fee : 10})
  .then( function(response){
    //
  })
  .catch( function(error){
    //
  })</code></pre>


<a class="anchor" id="paymentMethods.delete"></a>
<div class="method-title">Delete a payment method</div>
<pre><code class="javascript">//Deletes a payment method with id 123
  marketcloud.paymentMethods.delete(123)
  .then( function(response){
    //
  })
  .catch( function(error){
    //
  })</code></pre>




<a class="anchor" id="paymentMethods.getById"></a>
<div class="method-title">Retrieve a payment method</div>
<pre><code class="javascript">//Retrieves a payment method by its id
  marketcloud.paymentMethods.getById(payment_method_id)
  .then( function(response){

  })
  .catch( function(error){

  })</code></pre>



<a class="anchor" id="paymentMethods.list"></a>
<div class="method-title">List all payment methods</div>
<pre><code class="javascript">//Retrieves a list of payment methods filtered and sorted by the query object
  marketcloud.paymentMethods.list(query)
  .then( function(response){

  })
  .catch( function(error){
  
  })</code></pre>


<!-- End of payment methods-->

</section>