<div class="dashboard-navbar" style="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-pills hidden-sm hidden-xs">
                <li ng-class="{'active' : 'overview' === currentSubsection}">
                  <a href="#/application/overview">Overview</a>
                </li>
                <li ng-class="{'active' : 'integrations' === currentSubsection}">
                  <a href="#/application/integrations">Integrations</a>
                </li>
                <li ng-class="{'active' : 'webhooks' === currentSubsection}">
                  <a href="#/application/webhooks">Webhooks</a>
                </li>
                <li ng-class="{'active' : 'collaborators' === currentSubsection}">
                  <a href="#/application/collaborators">Collaborators</a>
                </li>
                <li ng-class="{'active' : 'acl' === currentSubsection}">
                        <a href="#/application/acl">Roles</a>
                </li>
                <li ng-class="{'active' : 'deploy' === currentSubsection}">
                  <a href="#/application/deploy">Deploy</a>
                </li>
                <li ng-class="{'active' : 'settings' === currentSubsection}">
                  <a href="#/application/settings">Settings</a>
                </li>
                <li ng-class="{'active' : 'billing' === currentSubsection}">
                  <a href="#/application/billing">Billing</a>
                </li>
              </ul>
              <ul class="nav nav-pills hidden-md hidden-lg" style="margin-left: -15px">
                <li ng-class="{'active' : 'overview' === currentSubsection}">
                  <a href="#/application/overview">
                    <i class="fa fa-dashboard"></i>
                  </a>
                </li>
                <li ng-class="{'active' : 'integrations' === currentSubsection}">
                  <a href="#/application/integrations">
                    <i class="fa fa-puzzle-piece"></i>
                  </a>
                </li>
                <li ng-class="{'active' : 'webhooks' === currentSubsection}">
                  <a href="#/application/webhooks">
                    <i class="fa fa-exchange"></i>
                  </a>
                </li>
                <li ng-class="{'active' : 'collaborators' === currentSubsection}">
                  <a href="#/application/collaborators">
                    <i class="fa fa-users"></i>
                  </a>
                </li>
                <li ng-class="{'active' : 'acl' === currentSubsection}">
                        <a href="#/application/acl"><i class="fa fa-lock"></i></a>
                </li>
                <li ng-class="{'active' : 'deploy' === currentSubsection}">
                  <a href="#/application/deploy">
                    <i class="fa fa-cloud-upload"></i>
                  </a>
                </li>
                <li ng-class="{'active' : 'settings' === currentSubsection}">
                  <a href="#/application/settings">
                    <i class="fa fa-sliders"></i>
                  </a>
                </li>
       
              </ul>
            </div>
            
          </div>
        </div>
</div>