<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-xs-12">
			
			
			<div class="card mb50 mt50">
				<div class="row">

					<div class="col-xs-12 text-center">
							<div class="f64"><i class="fa fa-frown-o"></i></div>
							<h2>Woops, some error occurred...</h2>
							<p>Don't worry! We received the error and we are already working on it.</p>
							<a class="link" href="#/">Go to dashboard home</a>
						
					</div>
				</div>
			
			</div>
			<div class="card">
				<p>Or leave us a message, please be nice</p>
				<div class="form-group">
					<textarea class="form-control" placeholder="Dear developers, **** *** **** ***** ***" ng-model="feedbackMessage"></textarea>
				</div>

				<div class="card-footer text-right">
					<button class="btn btn-default" ng-click="sendFeedback()">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>
