<div class="dashboard-section-header">
  <span class="root">Invoices</span>
  <back-button></back-button>
</div>
<div class="container-fluid">
 
  <div class="row">
    <div class="col-xs-12">
      <!-- -->
      <div class="card card-table">
        <div class="card-toolbar" ng-show="getSelectedItems().length === 0">
          <div class="text-right">
          <a class="btn btn-info btn-sm raised" href="#/invoices/create">Add an invoice</a>
          <div class="actions dropdown pull-right">
                <a class="toolbar-action-icon" data-toggle="dropdown" role="button" >
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a data-toggle="modal" ng-click="loadData()">Reload</a></li>
                  <li><a ng-click="bulkJSONExport()">Export to JSON</a></li>
                </ul>
              </div>
          </div>
        </div>
      <div class="card-toolbar" ng-show="getSelectedItems().length > 0">
        <strong style="margin-right:50px;">{{getSelectedItems().length}} selected</strong>
        <button class="btn btn-sm btn-default" ng-click="bulkDelete()">Delete</button>
      </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                    <div class="form-group m0">
                      <div class="checkbox m0">
                        <input type="checkbox" ng-change="toggleAll()" ng-model="selectAll"/>
                        <label></label>
                      </div>
                    </div>
                  </th>
                <th>Number</th>
                <th>Order</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Date created</th>
                <th>Date due</th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-show="resources.length > 0">
              <tr ng-repeat="invoice in resources  track by $index" ng-class="{'selected-row':true === invoice.selected}">
                <td>
                <div class="form-group">
                    <div class="checkbox">
                      <input type="checkbox" ng-model="invoice.selected"/>
                      <label></label>
                    </div>
                  </div></td>
                <td>
                  <a href="#/invoices/{{invoice.id}}/edit" class="link">{{invoice.number}}</a>
                </td>
               
                <td>
                    <a href="#/orders/{{invoice.order_id}}/view" class="link">#{{invoice.order_id}}</a>
                </td>
                <td>
                    <div>
                      <a class="link" ng-if="invoice.customer.hasOwnProperty('user_id')" href="#/users/{{invoice.customer.user_id}}/view">{{invoice.customer.full_name}}</a>
                      <span ng-if="!invoice.customer.hasOwnProperty('user_id')">{{invoice.customer.full_name}}</span>
                    </div>
                    <div class="text-muted small">{{invoice.customer.email}}</div>
                </td>
                <td>
                    {{invoice.total | currency:application.currency_code+" ":2}}
                </td>
                <td>
                    {{invoice.date_created | date : "MMM d, yyyy"}}
                </td>
                 <td>
                    {{invoice.date_due | date : "MMM d, yyyy"}}
                </td>
                <td>

                  <div class="actions" ng-class="{'dropup' : true === $last && resources.length !== 1, 'dropdown' : false === $last || resources.length === 1 }" >
                  <a class="btn btn-transparent" data-toggle="dropdown" role="button" >
                    <i class="fa fa-ellipsis-v f18"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                      <a ng-href="#/invoices/{{invoice.id}}/edit" alt="edit">Edit</a>
                    </li>
                    <li><a ng-click="delete(invoice.id,$index)" alt="delete">Delete</a></li>
                  </ul>
                </div>


                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="resources.length === 0" class="text-center text-muted p10">
            <span class="fa fa-file f48"></span>
            <p class="lead">Your Invoices will be displayed here</p>
            <a href="#/invoices/create" class="btn btn-info">Add an invoice</a>
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col-xs-12 text-right">
                <pagination-selector
                  pagination="pagination"
                  per-page="query.per_page"
                  page="query.page"
                  on-change-page-size="loadData({per_page : per_page })"
                  on-change-page-number="loadPage(page)"
                ></pagination-selector>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>