<h1  class="page-title">Guides</h1>
<p>Here you can find guides with screenshot about Marketcloud basic and advanced concepts.</p>
<nav>
  <h3>Concepts</h3>
  <p>In this section you can find guides about basic concepts regaring the API such as error handling and authentication as well as more advanced topics like integrations and webhooks.</p>
  <ul>
    <li>
      <a href="/documentation/authentication" class="link">Authentication</a>
    </li>
    <li>
      <a href="/documentation/handlingerrors" class="link">Error handling</a>
    </li>
    <li>
      <a href="/documentation/webhooks" class="link">Webhooks</a>
    </li>
    <li>
      <a href="/documentation/libraries" class="link ">Libraries</a>
    </li>
    
    <li>
      <a href="/documentation/backoffice" class="link">Backoffice</a>
    </li>
    <li>
      <a href="/documentation/guides/integrations" class="link ">Integrations</a>
    </li>
  </ul>
  <h3>Platforms</h3>
  <p>Here you can find links related to specific platforms and how they interact with Marketcloud.</p>
  <ul>
    <li>
      <a class="link" data-toggle="collapse" href="#platforms-javascript-menu">Javascript</a>
    </li>
    <ul class="list collapse" id="platforms-javascript-menu">
      <li><a href="/documentation/quickstart/javascript" class="link">Quickstart</a></li>
      <li><a href="/documentation/reference/javascript" class="link">SDK Reference</a></li>
    </ul>
    <li>
      <a class="link" data-toggle="collapse" href="#platforms-nodejs-menu">NodeJS</a>
    </li>
    <ul class="list collapse" id="platforms-nodejs-menu">
      <li><a href="/documentation/quickstart/nodejs" class="link">Quickstart</a></li>
      <li><a href="/documentation/reference/nodejs" class="link">SDK Reference</a></li>
    </ul>
    <li>
      <a class="link" data-toggle="collapse" href="#platforms-php-menu">PHP</a>
    </li>
    <ul class="list collapse" id="platforms-php-menu">
      <li><a href="/documentation/quickstart/php" class="link">Quickstart</a></li>
      <li><a href="/documentation/reference/php" class="link">SDK Reference</a></li>
    </ul>
  </ul>
  
</ul>

</nav>