<h1 class="page-title">Roles</h1>

        <blockquote class="blockquote-warning">
          <b>Warning</b><br/>
          <p>This page is about API roles, not dashboard user roles. The first are the different roles that a user of your store can have, e.g. seller, buyer etc. The last are roles of the people who have access to your Marketcloud dashboard e.g. Admin, editor etc..</p>
        </blockquote>