<!-- Collections -->
<section class="resource">
  <h3 class="section-title"  id="collections">Collections</h3>
  <a class="anchor" id="collections.getById"></a>
  <div class="method-title">Retrieve a collection</div>
      <h5>Example request</h5>
        <pre><code class="javascript">//Retrieves a collection by its id
marketcloud.collections.getById(123)
.then(function(response){
  
})
.catch(function(error){
  
})
      </code></pre>
     <a class="anchor" id="collections.list"></a>
 <div class="method-title">List all collections</div>
      <p>Retrieves a list of Collections filtered and sorted by the query object.</p>
      <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="code">fields</td>
            <td>String</td>
            <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
          </tr>
          <tr>
            <td  class="code">per_page</td>
            <td>Integer</td>
            <td>The number of collections to retrieve per page</td>
          </tr>
          <tr>
            <td class="code">page</td>
            <td>Integer</td>
            <td>The page number of collections to display</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
      <pre><code class="javascript">
marketcloud.collections.list({})
.then(function(response){
  
})
.catch(function(error){
  
})
</code></pre>

<!-- End of Collections -->

</section>