<h3 id="contents">Contents</h3>
<p ></p>
<a class="anchor" id="contents.getById"></a>
<div class="method-title">Retrieve a content</div>
<pre><code class="javascript">//Retrieves a content by its id
  marketcloud.contents.getById(content_id, function(err,response){
              
});</code></pre>
<a class="anchor" id="contents.list"></a>
<div class="method-title">List contents</div>
<pre><code class="javascript">//Retrieves a paginated list of categories filtered and sorted by the query object
  marketcloud.contents.list(query, function(err,response){
});</code></pre>


