<!-- Coupons -->
<section class="resource">
<h3 class="section-title"  id="coupons">Coupons</h3>


 <a class="anchor" id="coupons.getById"></a>
 <div class="method-title">Retrieve a coupon</div>
      <h5>Example request</h5>
        <pre><code class="javascript">//Retrieves a coupon by its id
marketcloud.coupons.getById(123);
      </code></pre>


     <a class="anchor" id="coupons.list"></a>
 <div class="method-title">List coupons</div>
      <h5>Example request</h5>
        <pre><code class="javascript">//Retrieves a paginated list of coupons
// in this example, we only look for active coupons
marketcloud.coupons.list({active : true});
      </code></pre>


   

<!-- End of Coupons -->
</section>