<a id="installation" class="anchor"></a>
        <h3>Installation</h3>
        <p>You can get the javascript SDK from <a href="https://github.com/Marketcloud/marketcloud-js" class="link">Github</a>: </p>
      <pre><code class="javascript">git clone https://github.com/Marketcloud/marketcloud-js.git</code></pre>
      <p>Or you can use bower:</p>
    <pre><code class="javascript">bower install marketcloud-js</code></pre>
    <p>At this point you can include the minified javascript file in your application</p>
  <pre><code class="html">&lt;script type="text/javascript" src="dist/marketcloud.min.js">&lt;/script></code></pre>