<h3 id="variables">Variables</h3>
<p ></p>
<a class="anchor" id="variables.getById"></a>
<div class="method-title">Retrieve a variable</div>
<pre><code class="javascript">//Retrieves a variable by its id
  marketcloud.variables.getById(variable_id, function(err,response){
              
});</code></pre>
<a class="anchor" id="variables.list"></a>
<div class="method-title">List all variables</div>
<pre><code class="javascript">//Retrieves a list of variables filtered and sorted by the query object
  marketcloud.variables.list(query, function(err,response){
});</code></pre>