<aside class="page-navigation">
          
          <nav id="index">
            
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
              <li><a href="#making-requests">Making requests</a></li>
            </ul>
            
            <h5>API REFERENCE</h5>
            
            <ul id="api-reference-index">
              
              
              <li>
                <a href="#addresses" >Addresses</a>
                <ul>
                  <li><a href="#addresses.create">Create an address</a></li>
                  <li><a href="#addresses.list">List all addresses</a></li>
                  <li><a href="#addresses.getById">Retrieve an address</a></li>
                  <li><a href="#addresses.update">Update an address</a></li>
                  <li><a href="#addresses.delete">Delete an address</a></li>
                </ul>
              </li>
              <li>
                <a href="#brands">Brands</a>
                <ul>
                  <li><a href="#brands.create">Create a brand</a></li>
                  <li><a href="#brands.list">List all brands</a></li>
                  <li><a href="#brands.getById">Retrieve a brand</a></li>
                  <li><a href="#brands.update">Update a brand</a></li>
                  <li><a href="#brands.delete">Delete a brand</a></li>
                </ul>
              </li>
              <li>
                <a href="#carts" >Carts</a>
                <ul>
                  <li><a href="#carts.create">Create a cart</a></li>
                  <li><a href="#carts.list">List all carts</a></li>
                  <li><a href="#carts.getById">Retrieve a cart</a></li>
                  <li><a href="#carts.add">Add items to cart</a></li>
                  <li><a href="#carts.update">Update cart contents</a></li>
                  <li><a href="#carts.remove">Remove items from cart</a></li>
                  <li><a href="#carts.delete">Delete a cart</a></li>
                </ul>
              </li>
              <li>
                <a href="#categories" >Categories</a>
                <ul>
                  <li><a href="#categories.create">Create a category</a></li>
                  <li><a href="#categories.list">List all categories</a></li>
                  <li><a href="#categories.getById">Retrieve a category</a></li>
                  <li><a href="#categories.update">Update a category</a></li>
                  <li><a href="#categories.delete">Delete a category</a></li>
                </ul>
              </li>
              <li>
                <a href="#collections">Collections</a>
                <ul>
                  <li><a href="#collections.create">Create a collection</a></li>
                  <li><a href="#collections.list">List all collections</a></li>
                  <li><a href="#collections.getById">Retrieve a collection</a></li>
                  <li><a href="#collections.update">Update a collection</a></li>
                  <li><a href="#collections.delete">Delete a collection</a></li>
                </ul>
              </li>
              <li>
                <a href="#coupons" >Coupons</a>
                <ul>
                  <li><a href="#coupons.getById">Retrieve a coupon</a></li>
                  <li><a href="#coupons.list">List all coupons</a></li>
                  <li><a href="#coupons.create">Create a new coupon</a></li>
                  <li><a href="#coupons.update">Updates a coupon</a></li>
                  <li><a href="#coupons.delete">Delete a coupon</a></li>
                  
                </ul>
              </li>
              <li>
                <a href="#orders">Orders</a>
                <ul>
                  <li><a href="#orders.create">Create an order</a></li>
                  <li><a href="#orders.list">List all orders</a></li>
                  <li><a href="#orders.getById">Retrieve an order</a></li>
                </ul>
              </li>
               <li>
                <a href="#paymentMethods" >Payment methods</a>
                <ul>
                  <li><a href="#paymentMethods.getById">Retrieve a payment method</a></li>
                  <li><a href="#paymentMethods.list">List all payment methods</a></li>
                  <li><a href="#paymentMethods.create">Create a new payment method</a></li>
                  <li><a href="#paymentMethods.update">Updates a payment method</a></li>
                  <li><a href="#paymentMethods.delete">Delete a payment method</a></li>
                  
                </ul>
              </li>
              <li>
                <a href="#payments">Payments</a>
                <ul>
                  <li><a href="#payments.create">Create a payment</a></li>
                </ul>
              </li>
              <li>
                <a href="#products">Products</a>
                <ul>
                  <li><a href="#products.create">Create a product</a></li>
                  <li><a href="#products.list">List all products</a></li>
                  <li><a href="#products.getById">Retrieve a product</a></li>
                  <li><a href="#products.update">Update a product</a></li>
                  <li><a href="#products.delete">Delete a product</a></li>
                </ul>
              </li>
              <li>
                <a href="#promotions" >Promotions</a>
                <ul>
                  <li><a href="#promotions.getById">Retrieve a promotion</a></li>
                  <li><a href="#promotions.list">List all promotions</a></li>
                  <li><a href="#promotions.create">Create a new promotion</a></li>
                  <li><a href="#promotions.update">Updates a promotion</a></li>
                  <li><a href="#promotions.delete">Delete a promotion</a></li>
                  <li><a href="#promotions.getByCart">Get promotions by cart id</a></li>
                 
                </ul>
              </li>
              <li>
                <a href="#shippings" >Shippings</a>
                <ul>
                  <li><a href="#shippings.list">List all shippings</a></li>
                  <li><a href="#shippings.create">Create a new shipping</a></li>
                  <li><a href="#shippings.getById">Retrieve a shipping</a></li>
                  <li><a href="#shippings.delete">Delete a shipping</a></li>
                </ul>
              </li>
              
              <li>
                <a href="#users" >Users</a>
                <ul>
                  <li><a href="#users.create">Create a user</a></li>
                  <li><a href="#users.list">List all users</a></li>
                  <li><a href="#users.getById">Retrieve a user</a></li>
                  <li><a href="#users.update">Update a user</a></li>
                  <li><a href="#users.delete">Delete a user</a></li>
                </ul>
              </li>
               <li>
                <a href="#variables" >Variables</a>
                <ul>
                  <li><a href="#variables.getById">Retrieve a variable</a></li>
                  <li><a href="#variables.list">List all variables</a></li>
                  <li><a href="#variables.create">Create a new variable</a></li>
                  <li><a href="#variables.update">Updates a variable</a></li>
                  <li><a href="#variables.delete">Delete a variable</a></li>
                  
                </ul>
              </li>


             
              
            </ul>
          </nav>

          <nav id="mobile-index">
            <div class="text-right">
              <a id="hideMobileIndex"><i class="fa fa-times fa-2x"></i></a>
            </div>
            <h5>Getting Started</h5>
            
            <ul>
              <li><a href="#introduction">Introduction</a></li>
              <li><a href="#installation">Installation</a></li>
              <li><a href="#authentication">Authentication</a></li>
              <li><a href="#making-requests">Making requests</a></li>
            </ul>
            
            <h5>API REFERENCE</h5>
            
            <ul id="api-reference-index">
              
              
              <li>
                <a href="#addresses" >Addresses</a>
                <ul>
                  <li><a href="#addresses.create">Create an address</a></li>
                  <li><a href="#addresses.list">List all addresses</a></li>
                  <li><a href="#addresses.getById">Retrieve an address</a></li>
                  <li><a href="#addresses.update">Update an address</a></li>
                  <li><a href="#addresses.delete">Delete an address</a></li>
                </ul>
              </li>
              <li>
                <a href="#brands">Brands</a>
                <ul>
                  <li><a href="#brands.create">Create a brand</a></li>
                  <li><a href="#brands.list">List all brands</a></li>
                  <li><a href="#brands.getById">Retrieve a brand</a></li>
                  <li><a href="#brands.update">Update a brand</a></li>
                  <li><a href="#brands.delete">Delete a brand</a></li>
                </ul>
              </li>
              <li>
                <a href="#carts" >Carts</a>
                <ul>
                  <li><a href="#carts.create">Create a cart</a></li>
                  <li><a href="#carts.list">List all carts</a></li>
                  <li><a href="#carts.getById">Retrieve a cart</a></li>
                  <li><a href="#carts.add">Add items to cart</a></li>
                  <li><a href="#carts.update">Update cart contents</a></li>
                  <li><a href="#carts.remove">Remove items from cart</a></li>
                  <li><a href="#carts.delete">Delete a cart</a></li>
                </ul>
              </li>
              <li>
                <a href="#categories" >Categories</a>
                <ul>
                  <li><a href="#categories.create">Create a category</a></li>
                  <li><a href="#categories.list">List all categories</a></li>
                  <li><a href="#categories.getById">Retrieve a category</a></li>
                  <li><a href="#categories.update">Update a category</a></li>
                  <li><a href="#categories.delete">Delete a category</a></li>
                </ul>
              </li>
              <li>
                <a href="#collections">Collections</a>
                <ul>
                  <li><a href="#collections.create">Create a collection</a></li>
                  <li><a href="#collections.list">List all collections</a></li>
                  <li><a href="#collections.getById">Retrieve a collection</a></li>
                  <li><a href="#collections.update">Update a collection</a></li>
                  <li><a href="#collections.delete">Delete a collection</a></li>
                </ul>
              </li>
              <li>
                <a href="#coupons" >Coupons</a>
                <ul>
                  <li><a href="#coupons.getById">Retrieve a coupon</a></li>
                  <li><a href="#coupons.list">List all coupons</a></li>
                  <li><a href="#coupons.create">Create a new coupon</a></li>
                  <li><a href="#coupons.update">Updates a coupon</a></li>
                  <li><a href="#coupons.delete">Delete a coupon</a></li>
                  
                </ul>
              </li>
              <li>
                <a href="#orders">Orders</a>
                <ul>
                  <li><a href="#orders.create">Create an order</a></li>
                  <li><a href="#orders.list">List all orders</a></li>
                  <li><a href="#orders.getById">Retrieve an order</a></li>
                </ul>
              </li>
               <li>
                <a href="#paymentMethods" >Payment methods</a>
                <ul>
                  <li><a href="#paymentMethods.getById">Retrieve a payment method</a></li>
                  <li><a href="#paymentMethods.list">List all payment methods</a></li>
                  <li><a href="#paymentMethods.create">Create a new payment method</a></li>
                  <li><a href="#paymentMethods.update">Updates a payment method</a></li>
                  <li><a href="#paymentMethods.delete">Delete a payment method</a></li>
                  
                </ul>
              </li>
              <li>
                <a href="#payments">Payments</a>
                <ul>
                  <li><a href="#payments.create">Create a payment</a></li>
                </ul>
              </li>
              <li>
                <a href="#products">Products</a>
                <ul>
                  <li><a href="#products.create">Create a product</a></li>
                  <li><a href="#products.list">List all products</a></li>
                  <li><a href="#products.getById">Retrieve a product</a></li>
                  <li><a href="#products.update">Update a product</a></li>
                  <li><a href="#products.delete">Delete a product</a></li>
                </ul>
              </li>
              <li>
                <a href="#promotions" >Promotions</a>
                <ul>
                  <li><a href="#promotions.getById">Retrieve a promotion</a></li>
                  <li><a href="#promotions.list">List all promotions</a></li>
                  <li><a href="#promotions.create">Create a new promotion</a></li>
                  <li><a href="#promotions.update">Updates a promotion</a></li>
                  <li><a href="#promotions.delete">Delete a promotion</a></li>
                  <li><a href="#promotions.getByCart">Get promotions by cart id</a></li>
                 
                </ul>
              </li>
              <li>
                <a href="#shippings" >Shippings</a>
                <ul>
                  <li><a href="#shippings.list">List all shippings</a></li>
                  <li><a href="#shippings.create">Create a new shipping</a></li>
                  <li><a href="#shippings.getById">Retrieve a shipping</a></li>
                  <li><a href="#shippings.delete">Delete a shipping</a></li>
                </ul>
              </li>
              
              <li>
                <a href="#users" >Users</a>
                <ul>
                  <li><a href="#users.create">Create a user</a></li>
                  <li><a href="#users.list">List all users</a></li>
                  <li><a href="#users.getById">Retrieve a user</a></li>
                  <li><a href="#users.update">Update a user</a></li>
                  <li><a href="#users.delete">Delete a user</a></li>
                </ul>
              </li>
               <li>
                <a href="#variables" >Variables</a>
                <ul>
                  <li><a href="#variables.getById">Retrieve a variable</a></li>
                  <li><a href="#variables.list">List all variables</a></li>
                  <li><a href="#variables.create">Create a new variable</a></li>
                  <li><a href="#variables.update">Updates a variable</a></li>
                  <li><a href="#variables.delete">Delete a variable</a></li>
                  
                </ul>
              </li>


             
              
            </ul>
          </nav>
        </aside>