<section class="resource">

<!-- PAYMENTS -->
<!-- Payments -->

<h3 class="section-title"  id="payments">Payments</h3>
  <p>Marketcloud supports a certain number of payment methods. Most of them requires client side and server side configuration, we try to abstract the server side part, so you just have to configure client side scripts.</p>
  <p>You can find the list of payment methods supported by Marketcloud in your application's dashboard under the <b>settings</b> > <b>payments</b> page. There you will also find a link to the documentation related to each payment method.</p>
  <blockquote class="blockquote-info">
    <b>Info</b><br/>
    In order to create payments using a payment method, you must enable and configure that method in your dashboard.
  </blockquote>
     <a class="anchor" id="payments.create"></a>
 <div class="method-title">Create a payment</div>
            <h5>Arguments</h5>
      <div class="table-responsive"><table class="table table-striped documentation">
        <thead>
          <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>method</td>
            <td>String</td>
            <td>A valid name of one of the supported payment methods. You can see a list of supported payment methods in Dashboard > settings > payments. If using Stripe, set it to "Stripe", set it to "Braintree" if using Braintree. If you want to use a custom payment method, set it to "Custom" and provide the <code>payment_method_id</code> parameter.</td>
          </tr>
          <tr>
            <td>payment_method_id</td>
            <td>Number</td>
            <td>If you are using a custom payment method, privide that payment method's id here.</td>
          </tr>
          <tr>
            <td  class="code">order_id <span class="label label-success">Required</span></td>
            <td>Integer</td>
            <td>The id of the order related to this payment.</td>
          </tr>
          <tr>
            <td class="code">&lt;attribute&gt;</td>
            <td>Mixed</td>
            <td>Every payment method requires different additional parameters. Refer to the payment method documentation for more informations.</td>
          </tr>
        </tbody>
      </table></div>
      <h5>Example request</h5>
        <pre><code class="php">
// Braintree example
Marketcloud\Payments::create(array(
  "method" => "Braintree",
  "order_id" => $order->id,
  "nonce" => $BraintreeNonce
));

// Stripe example
Marketcloud\Payments::create(array(
  "method" => "Stripe",
  "order_id" => $order->id,
  "source" => $StripeSource
));

// In both cases, nonce and source are obtained from Braintree
// and Stripe servers using their client side SDKs
      
      </code></pre>

<!-- /Payments -->






</section>