<% include ../../header/ %>
<% include ../../navbar/ %>

<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>
<% include documentation-fixed-navbar.partial.ejs %>

<section class="documentation-page">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3 hidden-xs hidden-sm">
        <% include general-topics-index.partial.ejs %>
      </div>
       <div class="col-md-6">
        <h1>Authentication</h1>
        <p>In order to interact with Marketcloud's API, you need to authenticate your application with your credentials. Every API request fired from your app must provide an Authorization header in the form 
        <code>Authorization: &lt;public-key&gt;</code> or <code>Authorization: &lt;public-key&gt;:&lt;token&gt;</code>
        </p>
        <p>The first form only works with public endpoints such as getting a list of products.</p>
        <p>The second form is required whenever invoking restricted endpoints or when making requests on behalf of a user inside your app.</p>
        <b>Example authenticated request</b>
        <pre><code class="curl">curl 'https://api.marketcloud.it/v0/products' \
-H 'Authorization:f84af487-a315-42e6-a57a-d79296bd9d99'</code></pre>
        <p>If you fail to provide the correct credentials, you will receive a "Unauthorized" error:</p>
        <pre><code class="json">
{
  "status":false,
  "errors": [
    {
      "code" : 401,
      "type":"Unauthorized",
      "message":"Authorization is missing"
    }
  ]
}          
        </code></pre>
        <h4 class="mt50">Obtaining a token</h4>
        <blockquote class="blockquote-info">
          <b>Note</b><br/>
          If you use one of the official SDKs, you will not need to handle the authentication process. The SDK will do it for you transparently.
        </blockquote>
        <p>To obtain an authorization token for your application, you need to invoke the /tokens endpoint using the correct parameters.</p>
        <b>Example request</b>
        <pre><code class="bash">
curl --request POST \
  --url https://api.marketcloud.it/v0/tokens \
  --header 'content-type: application/json' \
  --data '{"publicKey" : "yourPublicKey","secretKey" : "yourHashedSecretKey","timestamp" : 1441724677832}'
        </code></pre>
        <p>Scroll down to the next section to learn how to hash the secret key</p>
        <b>Example successful response</b>
        <pre><code class="json">{
  "status" : true,
  "token"  : "8juHBgBOXv1WDmuHFCR/+8h0U6qS7k08WCil3y/mBjZ="
}
        </code></pre>
        <h4 class="mt50">Hashing the secret key</h4>
        <p >The secret key must be hashed (sha256) with a unix timestamp before being sent. You can generate the token and use the api with your favourite programming language, here's an example using Bash scripting. Paste your public and secret key into the following code and execute it.</p>
        <script src="https://gist.github.com/fatmatto/4d50ee51c73c7883a4f9.js"></script>
        <p >A more complete example using <b>node.js</b> would be:</p>
        <script src="https://gist.github.com/fatmatto/748bebdf6da3f39d9da0.js"></script>
        
        <p >At this point, you can use the generated token to authenticate your subsequent requests by setting the "Authorization" http header in every request.</p>
        <pre><code class="http">Authorization: your-public-key:generated-token</code></pre>
        </div>
      </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function(){

  $("nav>ul#api-reference-index>li>a").click(function(e){
    e.preventDefault();
    $(e.target).parent().toggleClass('active');
  });

  $("nav>ul#api-reference-index>li> ul > li > a").click(function(e){

  $("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
  $(e.target).parent().toggleClass('active');

  });
})

</script>
<% include ../../footer/ %>