<link rel="stylesheet" href="/css/documentation_style.css">
<footer><section id="footer-section">
	<div class="container-fluid">
		<div class="row mt20">
			<div class="col-xs-12 col-lg-4">
				<h4 class="footer-title">Marketcloud</h4>
				<p>Marketcloud is an API service for e-commerce developers. We manage your data while you focus on building an amazing user experience for your customers.</p>
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="row">
					<div class="col-xs-6">
						<h5>Resources</h5>
						<ul>
							<li>
								<a href="/features" class="link">Features</a>
							</li>
							<li>
								<a href="/" class="link">Home</a>
							</li>
							<li>
								<a class="link" href="mailto:info@marketcloud.it?subject=feedback" target="_blank">Feedback</a>
							</li>
							<li>
								<a class="link" href="https://www.dropbox.com/sh/kdaq71fh7s0mqqi/AAB3hcnmeb4L3jx5qmeCKG8ya?dl=0" target="_blank">Press kit</a>
							</li>
						</ul>
					</div>
					<div class="col-xs-6">
						<h5>About</h5>
						<ul>
							<li>
								<a href="/team" class="link">Team</a>
							</li>
							<li>
								<a href="http://www.herapi.com" class="link" target="_blank">Company</a>
							</li>
							<li>
								<a href="/blog" class="link" target="_blank">Blog</a>
							</li>
							<li>
								<a href="/terms-of-use" class="link" target="_blank">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="col-xs-12 col-lg-4">
				<h5>Social</h5>
				<a  id="go_github_link" href="https://github.com/Marketcloud" class="footer-link" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
				<a id="go_twitter_link" href="https://www.twitter.com/Marketcloudit" class="footer-link" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
				<a id="go_facebook_link" href="https://www.facebook.com/Marketcloud" class="footer-link" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
				<a  id="go_mail_link" href="mailto:info@marketcloud.it" target="_blank" class="footer-link"><i class="fa fa-envelope fa-2x"></i></a>
				<a id="go_angellist_link" href="https://www.angel.co/marketcloud" class="footer-link" target="_blank"><i class="fa fa-angellist fa-2x"></i></a>
				<h5>Powered by</h5>
				<a href="https://wcap.tim.it/it/" target="_blank"><img src="/img/wcap_logo.png" style="max-height:50px" alt="Tim WCAP Accelerator Logo"/></a>
				<a href="https://www.microsoft.com/bizspark/" target="_blank"><img src="/img/BizSpark_StartUp.jpg" style="margin-left:10px;max-height:50px" alt="Microsoft BizSpark Logo"/></a>
			</div>
		</div>
		<div class="row mt20">
			<div class="col-xs-12">
				<p>Copyright 2015 <a href="http://herapi.com">Herapi s.r.l.s</a>. All rights reserved</p>
			</div>
		</div>
	</div>
</section></footer>


</body>
</html>