<nav id="documentation_index_mobile" class="container-fluid">
	
	<a class="sectionTitle" data-toggle="collapse" data-parent="#documentation_index_mobile" href="#sections-list_mobile" aria-expanded="false" aria-controls="collapseOne">
		<i class="fa fa-exchange"></i> REST api</i>
	</a>
	<div class="row" id="sections-list_mobile" class="collapse in">
		<div class="col-xs-6">
			<ul >
				<li><span class="title">TOPICS</span></li>
				<li><a href="/documentation/rest-api/introduction#introduction" class="link">Introduction</a></li>
				<li><a href="/documentation/rest-api/gettingstarted#gettingstarted" class="link">Getting started</a></li>
				<li><a href="/documentation/rest-api/authentication" class="link">Authentication</a></li>
				<li><a href="/documentation/rest-api/addresses#addresses" class="link">Addresses <span class="label label-warning">New</span></a></li>
				
				<li><a href="/documentation/rest-api/brands#brands" class="link">Brands</a></li>
				<li><a href="/documentation/rest-api/categories#categories" class="link">Categories</a></li>
				<li><a href="/documentation/rest-api/carts#carts" class="link">Carts <span class="label label-warning">New</span></a></li>
				
			</ul>
		</div>
		<div class="col-xs-6">
			<ul >
				<li><span class="title">RESOURCES</span></li>
				
				<li><a href="/documentation/rest-api/currencies#currencies" class="link">Currencies</a></li>
				<li><a href="/documentation/rest-api/orders#orders" class="link">Orders <span class="label label-warning">New</span></a></li>
				<li><a href="/documentation/rest-api/products#products" class="link">Products</a></li>
				<li><a href="/documentation/rest-api/shippings#shippings" class="link">Shippings</a></li>
				
				<li><a href="/documentation/rest-api/stores#stores" class="link">Stores</a></li>
				<li><a href="/documentation/rest-api/taxes#taxes" class="link">Taxes</a></li>
				<li><a href="/documentation/rest-api/users#users" class="link">Users</a></li>
			</ul>
		</div>
	</div>


</nav>
<nav id="documentation_index">
	
	<a class="sectionTitle" data-toggle="collapse" data-parent="#documentation_index" href="#sections-list" aria-expanded="true" aria-controls="collapseOne">
		<i class="fa fa-exchange"></i> REST api</i>
	</a>
	<ul id="sections-list" class="collapse in">
		<li><span class="title">TOPICS</span></li>
		<li><a href="/documentation/rest-api/introduction" class="link">Introduction</a></li>
		<li><a href="/documentation/rest-api/gettingstarted" class="link">Getting started</a></li>
		<li><a href="/documentation/rest-api/authentication" class="link">Authentication</a></li>
		<li><a href="/documentation/rest-api/addresses" class="link">Addresses <span class="label label-warning">New</span></a></li>
		<li><span class="title">RESOURCES</span></li>
		<li><a href="/documentation/rest-api/brands" class="link">Brands</a></li>
		<li><a href="/documentation/rest-api/categories" class="link">Categories</a></li>
		<li><a href="/documentation/rest-api/carts" class="link">Carts <span class="label label-warning">New</span></a></li>
		
		<li><a href="/documentation/rest-api/currencies" class="link">Currencies</a></li>
		<li><a href="/documentation/rest-api/orders" class="link">Orders <span class="label label-warning">New</span></a></li>
		<li><a href="/documentation/rest-api/products" class="link">Products</a></li>
		<li><a href="/documentation/rest-api/shippings" class="link">Shippings</a></li>
		<li><a href="/documentation/rest-api/stores" class="link">Stores</a></li>
		<li><a href="/documentation/rest-api/taxes" class="link">Taxes</a></li>
		<li><a href="/documentation/rest-api/users" class="link">Users</a></li>
	</ul>
	
</nav>