<!-- here we need -->

<link rel="stylesheet" href="/libs/technology-icons/dist/styles/technology-icons.css">


    <h1 class="page-title">Documentation home</h1>
    <p class="lead text-muted">Learn how to build stores with Marketcloud</p>
    <div class="left-emphasis-info light-grey p20">
      <h4>What is Marketcloud?</h4>
      <p class="text-muted">A full featured eCommerce backend with a REST JSON API. We handle your products, carts, orders customers and more. You just bring the frontend, we handle the rest. Pun intended. <a href="/" class="link">Learn more...</a></p>
    </div>

    <div>
      <h3>REST API Reference</h3>
      <p class="text-muted">Our API is the Marketcloud's hearth and it encapsulates every functionality.</p>
      <ul class="list">
            <li><a href="/documentation/rest-api" class="link  f18">REST API reference</a></li>
      </ul>
    </div>

    <div>
       
        <h3>
        Core concepts
        </h3>
       <p>These topics introduce the basics of Marketcloud. It's the best place to start if it's your first time building a Marketcloud app or if it's your first time using an API.</p>
       <ul class="list">
              <li><a href="/documentation/authentication" class="link  f18">Authentication</a></li>
              <li><a href="/documentation/handlingerrors" class="link  f18">Error handling</a></li>
              <li><a href="/documentation/webhooks" class="link f18">Webhooks</a></li>
              <li><a href="/documentation/libraries" class="link f18">Libraries</a></li>
            </ul>
      <p>Not every Marketcloud user is a developer, we also have documentation for store managers, owners and data entry staff.</p>
      <ul class="list">
        <li><a href="/documentation/backoffice" class="link f18">Backoffice</a></li>
      </ul>
      </div>
 
    <h3>Platforms</h3>
    <p class="text-muted">Learn how to use Marketcloud with your favourite platform.</p>


<div class="row">
  
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <em class="icon-js f48"></em>
        </div>
        <div class="col-xs-10">
          <h4 class="title">Javascript</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="/documentation/reference/javascript" class="link">API Reference</a>
        </div>
        <div class="p10">
          <a href="/documentation/quickstart/javascript" class="link">Quickstart</a>
        </div>
        <div class="p10">
          <a href="/documentation/examples" class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <em class="icon-nodejs f48"></em>
        </div>
        <div class="col-xs-10">
          <h4 class="title">NodeJS</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="/documentation/reference/nodejs" class="link">API Reference</a>
        </div>
        <div class="p10">
          <a href="/documentation/quickstart/nodejs" class="link">Quickstart</a>
        </div>
        <div class="p10">
          <a href="/documentation/examples" class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <em class="icon-php f48"></em>
        </div>
        <div class="col-xs-10">
          <h4 class="title">PHP</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="/documentation/reference/php" class="link">API Reference</a>
        </div>
        <div class="p10">
          <a href="/documentation/quickstart/php" class="link">Quickstart</a>
        </div>
        <div class="p10">
          <a href="/documentation/examples" class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <em class="fa fa-android fa-3x"  style="margin-top: 10px;"></em>
        </div>
        <div class="col-xs-10">
          <h4 class="title">Android</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="https://github.com/Marketcloud/marketcloud-android-sdk" class="link">API Reference</a>
        </div>
        <div class="p10">
          <a href="https://github.com/Marketcloud/marketcloud-sample-android-application"  class="link external" target="_blank">Quickstart</a>
        </div>
        <div class="p10">
          <a href="/documentation/examples" class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <img src="/img/3rdparty/swift-gray.png" style="height: 48px;margin-top: 10px;">
        </div>
        <div class="col-xs-10">
          <h4 class="title">Swift</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="https://github.com/Marketcloud/marketcloud-swift-sdk" target="_blank"  class="link external">API Reference</a>
        </div>
        <div class="p10">
          <a href="/documentation/quickstart/swift"  class="link">Quickstart</a>
        </div>
        <div class="p10">
          <a href="https://github.com/Marketcloud/marketcloud-swift-application" target="_blank"  class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 mt50">
    <div class="documentation-platform-block">
      <div class="row grey">
        <div class="col-xs-2">
          <em class="icon-shell-alt f48"></em>
        </div>
        <div class="col-xs-10">
          <h4 class="title">cURL</h4>
        </div>
      </div>
      <div class="row light-grey">
        <div class="p10">
          <a href="/documentation/rest-api"  class="link">API Reference</a>
        </div>
        <div class="p10">
          <a href="/documentation/quickstart/curl"  class="link">Quickstart</a>
        </div>
        <div class="p10">
          <a href="/documentation/examples"  class="link">Examples</a>
        </div>
      </div>
      
    </div>
  </div>
</div>