<% include ../../header/ %>
<% include ../../navbar/ %>

<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

<script>hljs.initHighlightingOnLoad();</script>
<% include documentation-fixed-navbar.partial.ejs %>

<section class="documentation-page">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3 hidden-xs hidden-sm">
          <% include general-topics-index.partial.ejs %>
      </div>
       <div class="col-md-6">
        <h1>Libraries</h1>
        <p>We have official libraries for different programming languages and platforms. There are also third-party example projects created by Marketcloud and the developer community.</p>
        
        <h4 class="mt50">Javascript</h4>
        <p>Install via Bower</p>
        <pre><code class="bash">bower install marketcloud-js</code></pre>
        <p>Or with NPM</p>
        <pre><code class="bash">npm install marketcloud-js</code></pre>
        <p>Then include it in your app with script tag. Check out the <a href="/documentation/reference/javascript" class="link" target="_blank">API reference</a> or see the library's sources on <a class="link external" href="https://github.com/Marketcloud/marketcloud-js" target="_blank">GitHub</a></p>


        <h4 class="mt50">NodeJS</h4>
        <p>Install with NPM</p>
        <pre><code class="bash">npm install marketcloud-node</code></pre>
        <p>Then you can require it in your code:</p>
        <pre><code class="javascript">var Marketcloud = require('marketcloud-node')</code></pre>
        <p>Check out the <a href="/documentation/reference/nodejs" class="link" target="_blank">API reference</a> or see the library's sources on <a class="link external" href="https://github.com/Marketcloud/marketcloud-node" target="_blank">GitHub</a></p>


        <h4 class="mt50">PHP</h4>
        <p>Install with Composer</p>
        <pre><code class="bash">composer require marketcloud/marketcloud-php
composer install</code></pre>
        <p>Then you can require it in your code:</p>
        <pre><code class="php">require_once('vendor/autoload.php');</code></pre>
        <p>Check out the <a href="/documentation/reference/php" class="link" target="_blank">API reference</a> or see the library's sources on <a class="link external" href="https://github.com/Marketcloud/marketcloud-php" target="_blank">GitHub</a></p>



        <h4 class="mt50">iOS (Swift)</h4>
        <p>Check out the <a href="/documentation/quickstart/swift" class="link" target="_blank">iOS Quickstart</a> or see the library's sources on <a class="link external" href="https://github.com/Marketcloud/marketcloud-swift-sdk" target="_blank">GitHub</a></p>


          <h4 class="mt50">Android (Java)</h4>
        <p>Check out the <a class="link external" href="https://github.com/Marketcloud/marketcloud-android-sdk" target="_blank">Android SDK repository on GitHub</a></p>




        
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){

  $("nav>ul#api-reference-index>li>a").click(function(e){
    e.preventDefault();
    $(e.target).parent().toggleClass('active');
  });

  $("nav>ul#api-reference-index>li> ul > li > a").click(function(e){

  $("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
  $(e.target).parent().toggleClass('active');

  });
})

</script>
<% include ../../footer/ %>