<% include ../../header/ %>
<% include ../../navbar/ %>
<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<% include documentation-fixed-navbar.partial.ejs %>

<section class="documentation-page">


  <div class="container-fluid">
    
    

    <div class="row">

      <div class="col-md-3 hidden-xs hidden-sm">
        <% include general-topics-index.partial.ejs %>
      </div>
      <div class="col-md-6">
      <!-- The page partial is now loaded dynamically -->
      <%- include(page+'.partial.ejs') %>

      <!-- Comments and questions -->
      <% include questionbox.ejs %>


      </div>

    </div>

  </div>

</section>
<script type="text/javascript">
$(document).ready(function(){
$("nav>ul#api-reference-index>li>a").click(function(e){
e.preventDefault();
$(e.target).parent().toggleClass('active');
});
$("nav>ul#api-reference-index>li> ul > li > a").click(function(e){
$("nav>ul#api-reference-index>li> ul > li.active").toggleClass('active')
$(e.target).parent().toggleClass('active');
});
})
</script>
<% include ../../footer/ %>