<!doctype html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Dashboard</title>
    
    
    <link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="/libs/ng-tags-input/build/ng-tags-input.min.css"/>
    

    <link rel="stylesheet" type="text/css" href="/libs/notie/dist/notie.css"/>
    

    <link rel="stylesheet" type="text/css" href="/libs/angular-loading-bar/build/loading-bar.min.css"/>
    
    <link rel="stylesheet" type="text/css" href="/modules/data_dashboard/css/data_dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/marketcloud.css"> 
    

    <link rel="stylesheet" type="text/css" href="/modules/admin_dashboard/css/admin_dashboard.css">
    <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/libs/clipboard/dist/clipboard.min.js"></script>

  </head>
  
  


<!-- This file gets included by admin_dashboard.ejs -->