<% include ../../../header/ %>
<% include ../../../navbar %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />
<section class="mt100" style="padding-top:100px;padding-bottom:200px">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
      <% include ./index.partial.ejs %>
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        

            <div class="row" style="border-bottom:1px solid #CCC">

          
						<ol class="breadcrumb mt20">
						  <li><a href="/documentation">Index</a></li>
						  <li><a href="/documentation/rest-api">REST api</a></li>
						  <li class="active">Addresses</li>
						</ol>
						<h2 >Addresses</h2>


				<div class="row">

							<div class="col-xs-12 col-lg-12">
								<h4>Model description</h4>
								<div class="table-responsive"><table class="table table-striped documentation">
									<thead>
										<tr>
										<th>Attribute</th>
										<th>Type</th>
										<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>id</td>
											<td>Number</td>
											<td>The univocal resource identifier</td>
										</tr>
										<tr>
											<td>full_name</td>
											<td>String</td>
											<td>The full name of the resident</td>
										</tr>
										<tr>
											<td>country</td>
											<td>String</td>
											<td>The country of the address</td>
										</tr>
										<tr>
											<td>state</td>
											<td>String</td>
											<td>The state of the address</td>
										</tr>
										<tr>
											<td>city</td>
											<td>String</td>
											<td>The city of the address</td>
										</tr>
										<tr>
											<td>address1</td>
											<td>String</td>
											<td>The first address</td>
										</tr>
										<tr>
											<td>address2</td>
											<td>String</td>
											<td>Additional address space</td>
										</tr>
										<tr>
											<td>postal_code</td>
											<td>String</td>
											<td>The postal code of the address</td>
										</tr>
										<tr>
											<td>phone_number</td>
											<td>String</td>
											<td>The phone number for the address</td>
										</tr>
										<tr>
											<td>alternate_phone_number</td>
											<td>String</td>
											<td>An alternate phone number for the address</td>
										</tr>
										<tr>
								            <td>vat</td>
								            <td>String</td>
								            <td>The customer's VAT number for taxation.</td>
								          </tr>
									</tbody>
								</table></div>
							</div>
						</div>


<!-- ADDRESS CREATE -->
					<div class="documentation">
						<h3>POST /addresses</h3>
						<p class="lead">Creates a new Address</p>
						<pre><code class="http">POST http://api.marketcloud.it/v0/addresses</code></pre>
						<h5>Parameters</h5>
						<div class="table-responsive"><table class="table table-striped documentation">
							<thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
							<tbody>
										<tr>
											<td>full_name <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The full name of the resident</td>
										</tr>
										<tr>
											<td>email <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>A valid email address</td>
										</tr>
										<tr>
											<td>country <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The country of the address</td>
										</tr>
										<tr>
											<td>state</td>
											<td>String</td>
											<td>The state of the address</td>
										</tr>
										<tr>
											<td>city  <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The city of the address</td>
										</tr>
										<tr>
											<td>address1  <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The first address</td>
										</tr>
										<tr>
											<td>address2</td>
											<td>String</td>
											<td>Additional address space</td>
										</tr>
										<tr>
											<td>postal_code  <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The postal code of the address</td>
										</tr>
										<tr>
											<td>phone_number</td>
											<td>String</td>
											<td>The phone number for the address</td>
										</tr>
										<tr>
											<td>alternate_phone_number</td>
											<td>String</td>
											<td>An alternate phone number for the address</td>
										</tr>
										<tr>
								            <td>vat</td>
								            <td>String</td>
								            <td>The customer's VAT number for taxation.</td>
								          </tr>
									</tbody>
						</table></div>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/addresses/create.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<h5>Example JSON response (200)</h5>
						<pre><code class="javascript">
{
	status:true,
	data: {
		id:9,
		full_name: "Jon Snow",
		country : "Westeros",
		state: "The North",
		city: "Winterfell",
		address1: "Winterfell Castle, 1",
		postal_code: "12345"
		}
	links : {
		self : "http://api.marketcloud.it/v0/addresses/3"
	}
}</code></pre>
							</div>
<!-- / ADDRESS CREATE -->

<!-- ADDRESS LIST -->
						<div class="documentation">
						<h3>GET /addresses</h3>
						<p class="lead">Retrieves a paginated response of a list of addresses from your application.</p>
						<pre><code class="http">GET http://api.marketcloud.it/v0/addresses</code></pre>
						<h5>Request parameters</h5>
						<div class="table-responsive"><table class="table table-striped documentation">
							<thead>
								<tr>
								<th>Field</th>
								<th>Type</th>
								<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="code">fields</td>
									<td>String</td>
									<td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
								</tr>
								<tr>
									<td  class="code">skip</td>
									<td>Number</td>
									<td>How many resources to be skipped</td>
								</tr>
								<tr>
									<td class="code">limit</td>
									<td>Number</td>
									<td>How many resource to be fetched</td>
								</tr>
							</tbody>
						</table></div>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/addresses/list.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<h5>Example JSON response (200)</h5>
						<pre><code class="javascript">
{
	status:true,
	data: [ {
		data : {
			id:1,
			full_name: "Eddard Stark",
			country : "Westeros",
			state: "The North",
			city: "Winterfell",
			address1: "Winterfell Castle, 1",
			postal_code: "12345"
		},
		links : {
				first : 'http://api.marketcloud.it/v0/addresses/1',
				last : 'http://api.marketcloud.it/v0/addresses/9',
				self : 'http://api.marketcloud.it/v0/addresses/1',
				prev : null,
				next : 'http://api.marketcloud.it/v0/addresses/9'
		}

	},
		{
			data : {
				id:9,
				full_name: "Jon Snow",
				country : "Westeros",
				state: "The North",
				city: "Winterfell",
				address1: "Winterfell Castle, 1",
				postal_code: "12345"
			},
			links : {
				first : 'http://api.marketcloud.it/v0/addresses/1',
				last : 'http://api.marketcloud.it/v0/addresses/9',
				self : 'http://api.marketcloud.it/v0/addresses/9',
				prev : 'http://api.marketcloud.it/v0/addresses/1',
				next : null

			}
		}
	]
}</code></pre>

						</div>
<!-- / ADDRESS LIST -->
<!-- ADDRESS GET BY ID -->
						<div class="documentation">
						<h3>GET /addresses/:id</h3>
						<p class="lead">Retrieve a specific address given its id.</p>
						<pre><code class="http">GET http://api.marketcloud.it/v0/addresses/:id</code></pre>
						<h5>Parameters</h5>
						<div class="table-responsive"><table class="table table-striped documentation">
									<thead>
										<tr>
										<th>Field</th>
										<th>Type</th>
										<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="code">fields</td>
											<td>String</td>
											<td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
										</tr>
									</tbody>
								</table></div>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/addresses/getbyid.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<div>
						<h5>Example JSON response (200)</h5>
						<pre><code class="javascript">
{
	status:true,
	data: {
		id:9,
		full_name: "Jon Snow",
		country : "Westeros",
		state: "The North",
		city: "Winterfell",
		address1: "Winterfell Castle, 1",
		postal_code: "12345"
	},
	links : {
		self : "http://api.marketcloud.it/v0/addresses/1"
	}
}</code></pre>
							</div>
						</div>
<!-- / ADDRESS GET BY ID -->
<!-- ADDRESS UPDATE BY ID -->
				<div class="documentation">
						<h3>PUT /addresses/:id</h3>
						<p class="lead">Updates a <a href="#" class="link">address</a> given an id. Returns the updated <a href="#" class="link">address</a>.</p>
						<pre><code class="http">PUT http://api.marketcloud.it/v0/addresses/:id</code></pre>
						<h5>Parameters</h5>
						<div class="table-responsive"><table class="table table-striped documentation">
							<thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
							<tbody>
										<tr>
											<td>full_name <span class="label label-success">Required</span></td>
											<td>String</td>
											<td>The full name of the resident</td>
										</tr>
										<tr>
											<td>country</td>
											<td>String</td>
											<td>The country of the address</td>
										</tr>
										<tr>
											<td>state</td>
											<td>String</td>
											<td>The state of the address</td>
										</tr>
										<tr>
											<td>city</td>
											<td>String</td>
											<td>The city of the address</td>
										</tr>
										<tr>
											<td>address1</td>
											<td>String</td>
											<td>The first address</td>
										</tr>
										<tr>
											<td>address2</td>
											<td>String</td>
											<td>Additional address space</td>
										</tr>
										<tr>
											<td>postal_code</td>
											<td>String</td>
											<td>The postal code of the address</td>
										</tr>
										<tr>
											<td>phone_number</td>
											<td>String</td>
											<td>The phone number for the address</td>
										</tr>
										<tr>
											<td>alternate_phone_number</td>
											<td>String</td>
											<td>An alternate phone number for the address</td>
										</tr>
									</tbody>
						</table></div>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/addresses/update.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<h5>Example JSON response (200)</h5>
						<pre><code class="javascript">
{
	status:true,
	data: {
		id:3,
		full_name: "Jon Snow",
		country : "Westeros",
		state: "The North",
		city: "the Wall",
		address1: "the Wall, 1",
		postal_code: "12345"
	},
	links : {
		self : "http://api.marketcloud.it/v0/addresses/3"
	}
}</code></pre>
						</div>
<!-- / ADDRESS UPDATE BY ID -->
<!-- ADDRESS DELETE BY ID -->
				<div class="documentation">
						<h3>DELETE /addresses/:id</h3>
						<p class="lead">Deletes a specific address given its id.</p>
						<pre><code class="http">DELETE https://api.marketcloud.it/v0/addresses/:id</code></pre>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/addresses/delete.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<h5>Example JSON response (200)</h5>
<pre><code class="javascript">
{
	status:true
}</code></pre>
</div>
<!-- / ADDRESS DELETE BY ID -->
       
        </div>
      </div>
</div>
</div>
</section>

</body>
</html>

