<% include ../../../header/ %>
<% include ../../../navbar %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />
<section class="mt100" style="padding-top:100px;padding-bottom:200px">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
      <% include ./index.partial.ejs %>
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        

            <div class="row">

          
				<ol class="breadcrumb mt20">
				  <li><a href="/documentation">Index</a></li>
				  <li><a href="/documentation/rest-api">REST api</a></li>
				  <li class="active">Authentication</li>
				</ol>
				<h2>Authentication</h2>
				
				
				<p class="lead">Every API request must provide a valid Authorization header. Depending on the content of this header, the api request has different permissions, for example, if you only provide the public key, the client will be allowed to do only some  operations.</p>
				<div class="alert alert-empty-danger"><i class="fa fa-warning"></i> If the authorization header is missing, any request will result in a 401 error.</div>
				<p class="lead">Each api endpoint has its own authorization requirements listed in the relative documentation page. There are three different levels of Authorization:
				<ul><li>Public</li><li>Authenticated</li><li>User</li></ul>
				</p>
				<h3>Public key authentication</h3>
				<p class="lead">This authentication method consist in sending the following header with each api request:</p>
				<pre class="code http-call">
Authorization: your-public-key</pre>
				<p class="lead">This allows access <b>only to some endpoints</b>, mostly read-only on public data, except for user login/signup. This is the authorization level you should use most of the times, as long as the user is not logged in. You can find the public key for your application in the admin dashboard, by opening the application's dropdown menu and clicking on "informations".</p>
				<br/>
				<h3>Token based authentication</h3>
				<p class="lead">This method authorizes the client to create read update and delete any resource within its application scope (If you have created two applications named app1 and app2, you can't use the app1 credentials to manipulate resources created for app2).</p>
				<pre class="code http-call">
Authorization: your-public-key:generated-token</pre>
				<h4>Generate a token</h4>
				<p class="lead">To create a token, you must send the public key, a timestamp and an hash of the secret key:</p>
				<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/carts/update.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="250px" seamless></iframe>
				<h4>Hashing the secret key</h4>
				<p class="lead">The secret key must be hashed (sha256) with a unix timestamp before being sent. You can generate the token and use the api with your favourite programming language, here's an example using Bash scripting. Paste your public and secret key into the following code and execute it.</p>
				<script src="https://gist.github.com/fatmatto/4d50ee51c73c7883a4f9.js"></script>
				<p class="lead">A more complete example using <b>node.js</b> would be:</p>
				<script src="https://gist.github.com/fatmatto/748bebdf6da3f39d9da0.js"></script>
				
				<p class="lead">At this point, you can use the generated token to authenticate your subsequent requests by setting the "Authorization" http header in every request.</p>
				<pre class="code http-call">Authorization: your-public-key:generated-token</pre>
				<h3>User authentication</h3>
				<p class="lead">You can read more about user authentication from the User endpoint <a href="/documentation/rest-api/users" class="link">documentation page</a> .</p>
				
			</div>				
		</div>
</div>
</section>

</body>
</html>