
<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
<aside class="page-navigation">
  
  <nav id="index" class="sidenav">
    <h5>Getting started</h5>
    
    <ul>
      <li><a href="/documentation/rest-api/introduction">Introduction</a></li>
      <li><a href="/documentation/rest-api/gettingstarted">Getting started</a></li>
      <li><a href="/documentation/rest-api/authentication">Authentication</a></li>
      
    </ul>
    
    <h5>API Reference</h5>
    
    <ul id="api-reference-index">
      <li><a href="/documentation/rest-api/addresses" >Addresses</a></li>
      <li><a href="/documentation/rest-api/application" >Application</a></li>
      <li><a href="/documentation/rest-api/brands">Brands</a></li>
      <li><a href="/documentation/rest-api/carts" >Carts</a></li>
      <li><a href="/documentation/rest-api/categories">Categories</a></li>
      <li><a href="/documentation/rest-api/collections" >Collections</a></li>
      <li><a href="/documentation/rest-api/contents" >Contents</a></li>
      <li><a href="/documentation/rest-api/coupons" >Coupons</a></li>
      <li><a href="/documentation/rest-api/currencies" >Currencies</a></li>
      <li><a href="/documentation/rest-api/files" >Files</a></li>
      <li><a href="/documentation/rest-api/notifications" >Notifications</a></li>
      <li><a href="/documentation/rest-api/orders" >Orders</li>
      <li><a href="/documentation/rest-api/paymentMethods" >Payment methods</a></li>
      <li><a href="/documentation/rest-api/payments" >Payments</a></li>
      <li><a href="/documentation/rest-api/products" >Products</a></li>
      <li><a href="/documentation/rest-api/promotions" >Promotions</a></li>
      <li><a href="/documentation/rest-api/shippings" >Shippings</a></li>
      <li><a href="/documentation/rest-api/taxes" >Taxes</a></li>
      <li><a href="/documentation/rest-api/users" >Users</a></li>
      <li><a href="/documentation/rest-api/variables" >Variables</a></li>
    </ul>
  </nav>
  <nav id="mobile-index" >
    <a class="pull-right" id="close-mobile-index"><i class="fa fa-collapse fa-2x"></i> Hide index</a>
    
      <h5>Getting Started</h5>
      
      <ul>
        <li>
          <a href="/documentation/rest-api/introduction">Introduction</a>
        </li>
          <li><a href="/documentation/rest-api/gettingstarted">Getting started</a></li>
          <li><a href="/documentation/rest-api/authentication">Authentication</a></li>
      </ul>
      
      <h5>API Reference</h5>
      
      <ul id="api-reference-index">
        
      <li><a href="/documentation/rest-api/addresses" >Addresses</a></li>
      <li><a href="/documentation/rest-api/application" >Application</a></li>
      <li><a href="/documentation/rest-api/brands">Brands</a></li>
      <li><a href="/documentation/rest-api/carts" >Carts</a></li>
      <li><a href="/documentation/rest-api/categories">Categories</a></li>
      <li><a href="/documentation/rest-api/contents" >Contents</a></li>
      <li><a href="/documentation/rest-api/coupons" >Coupons</a></li>
      <li><a href="/documentation/rest-api/currencies" >Currencies</a></li>
      <li><a href="/documentation/rest-api/files" >Files</a></li>
      <li><a href="/documentation/rest-api/notifications" >Notifications</a></li>
      <li><a href="/documentation/rest-api/orders" >Orders</li>
      <li><a href="/documentation/rest-api/paymentMethods" >Payment methods</li>
      <li><a href="/documentation/rest-api/products" >Products</a></li>
      <li><a href="/documentation/rest-api/promotions" >Promotions</a></li>
      <li><a href="/documentation/rest-api/shippings" >Shippings</a></li>
      <li><a href="/documentation/rest-api/taxes" >Taxes</a></li>
      <li><a href="/documentation/rest-api/shippings" >Stores</a></li>

      <li><a href="/documentation/rest-api/users" >Users</a></li>
        
      </ul>
  </nav>
  
</aside>



<% include ../documentation-fixed-navbar.partial.ejs %>