<% include ../../../header/ %>
<% include ../../../navbar %>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="/modules/documentation/css/documentation.css" />
<section class="mt100" style="padding-top:100px;padding-bottom:200px">
  <div class="container-fluid">
    
    <a name="introduction"></a>
    <div class="row">
      <div class="col-lg-3 col-md-3">
      <% include ./index.partial.ejs %>
      </div>
      <div class="col-lg-6 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        

            <div class="row">
						<ol class="breadcrumb mt20">
						  <li><a href="/documentation">Index</a></li>
						  <li><a href="/documentation/rest-api">REST api</a></li>
						  <li class="active">Notifications</li>
						</ol>
						<h2>Notifications</h2>


<!-- <div class="row">

							<div class="col-xs-12">
								<h4>Model description</h4>
								<div class="table-responsive">
								<table class="table table-striped documentation">
									<thead>
										<tr>
											<th>Attribute</th>
											<th>Type</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										
										<tr>
											<td class="code">id</td>
											<td>Number</td>
											<td>The univocal resource identifier</td>
										</tr>
										<tr>
											<td class="code">name</td>
											<td>String</td>
											<td>The file name</td>
										</tr>
										<tr>
											<td class="code">mime_type</td>
											<td>String</td>
											<td>The MIME type for this file</td>
										</tr>
										<tr>
											<td class="code">url</td>
											<td>String</td>
											<td>The URL for the file</td>
										</tr>
										<tr>
											<td class="code">size</td>
											<td>Number</td>
											<td>The file size in bytes</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
							</div> -->
						</div>
						<div>
      					<p>This endpoint allows you to programmatically send notifications that have already been created from your store's dashboard.</p>
      					<h5>Available notifications</h5>
      					<p>At the moment, the list of available notification triggers is :</p>
      					
      					<div class="table-responsive">
      						<table class="table table-striped">
      							<thead>
      								<tr>
      									<th>Trigger event</th>
      									<th>Description</th>
      								</tr>
      							</thead>
      							<tbody>
      								<tr>
      									<td><code>users.create</code></td>
      									<td>Triggered whenever a user is created</td>
      								</tr>
      								<tr>
      									<td><code>orders.create</code></td>
      									<td>Triggered whenever an order is created</td>
      								</tr>
      								<tr>
      									<td><code>orders.update.processing</code></td>
      									<td>Triggered whenever an order is paid</td>
      								</tr>
      								<tr>
      									<td><code>orders.completed</code></td>
      									<td>Triggered whenever an order is closed and shipped</td>
      								</tr>
      							</tbody>
      						</table>
      					</div>
      					</div>

<!-- files CREATE -->
					<div class="documentation">
						
						<h3>POST /notifications/:event_type/:resource_id</h3>
						<p class="lead">Sends a notification of type <code>event_type</code> relative to the resource <code>resource_id</code></p>
						<blockquote class="blockquote-info">
            <b>Note:</b><br>
            Please remember that a notification must be activated before you can send it through api. You can activate notifications from the dashboard.</blockquote>
						<pre><code class="http">POST https://api.marketcloud.it/v0/notifications/:event_type/:resource_id</code></pre>
						
						<h5>Example Request</h5>
						<p>Send a "users.create" notification for user 1010</p>
						<pre><code class="http">POST https://api.marketcloud.it/v0/notifications/users.create/1010</code></pre>
						<h5>Example Response</h5>
						<pre><code class="json">{ "status":true }</code></pre>							
							</div>
<!-- / file CREATE -->						

<!-- file LIST -->
						
       
        </div>
      </div>
</div>
</div>
</section>

</body>
</html>