
            <h2>Contents</h2>
<p>Contents can be used to build your store's blog, your help center or any other feature that requires rich text content.</p>
<div class="documentation mb50 mt50">
  <h4>Table of contents</h4>
  <ol>
    <li><a href="#contents.model">Resource model description</a></li>
    <li><a href="#contents.create">Create a content</a></li>
    <li><a href="#contents.list">List contents</a></li>
    <li><a href="#contents.getbyid">Get content by id</a></li>
    <li><a href="#contents.update">Update a content</a></li>
    <li><a href="#contents.delete">Delete a content</a></li>
  </ol>
</div>

                <a class="anchor" id="contents.model"></a>
                <div class="documentation">
                <h4>Model description</h4>
                <div class="table-responsive"><table class="table table-striped documentation">
                  <thead>
                    <tr>
                    <th>Attribute</th>
                    <th>Type</th>
                    <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>id</td>
                      <td>Number</td>
                      <td>The univocal resource identifier</td>
                    </tr>
                    <tr>
                      <td>Title</td>
                      <td>String</td>
                      <td>The content title</td>
                    </tr>
                     <tr>
                      <td>Slug</td>
                      <td>String</td>
                      <td>A URL friendly version of the title. Like "my-blogpost-title"</td>
                    </tr>
                    <tr>
                      <td>text</td>
                      <td>String</td>
                      <td>The text representing the content.</td>
                    </tr>
                    <tr>
                      <td>author</td>
                      <td>Object</td>
                      <td>An object representing the author.</td>
                    </tr>
                  </tbody>
                </table></div>
                </div>


<!-- CONTENT CREATE -->
         <a class="anchor" id="contents.create"></a>
          <div class="documentation">
            <h3>POST /contents</h3>
            <p >Creates a new Content. </p>
            <pre><code class="http">POST https://api.marketcloud.it/v0/contents</code></pre>
            <h5>Parameters</h5>
            <div class="table-responsive"><table class="table table-striped documentation">
              <thead><tr><th>Field</th><th>Type</th><th>Description</th></tr></thead>
              <tbody>
                    <tr>
                      <td>Title <span class="label label-success">Required</span></td>
                      <td>String</td>
                      <td>The content title</td>
                    </tr>
                     <tr>
                      <td>Slug <span class="label label-success">Required</span></td>
                      <td>String</td>
                      <td>A URL friendly version of the title. Like "my-blogpost-title"</td>
                    </tr>
                    <tr>
                      <td>text</td>
                      <td>String</td>
                      <td>The text representing the content.</td>
                    </tr>
                    <tr>
                      <td>author</td>
                      <td>Object</td>
                      <td>An object representing the author.</td>
                    </tr>
                  </tbody>
            </table></div>
            <h5>Example Request</h5>
            <iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/contents/create.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
            <h5>Example JSON response (200)</h5>
            <pre><code class="javascript">
{
  status:true,
  data: {
    id:3,
    title : "My new Blogpost",
    text : "This is the content of my new Blogpost"
    }
  links : {
    self : "https://api.marketcloud.it/v0/contents/3"
  }
}</code></pre>
              </div>
<!-- / CONTENT CREATE -->

<!-- CONTENT LIST -->
            <a class="anchor" id="contents.list"></a>
            <div class="documentation">
            <h3>GET /contents</h3>
            <p >Retrieves a list of contents from your application. The response includes <a href="/documentation/rest-api/introduction#pagination" target="_blank" class="link">Paging information</a>.</p>
            <pre><code class="http">GET https://api.marketcloud.it/v0/contents</code></pre>
            <h5>Request parameters</h5>
            <div class="table-responsive"><table class="table table-striped documentation">
                  <thead>
                    <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="code">fields</td>
                      <td>String</td>
                      <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
                    </tr>
                    <tr>
                      <td  class="code">{Attribute}</td>
                      <td>Mixed</td>
                      <td>Any resource attribute that you want to use to filter the result list.</td>
                    </tr>
                    <tr>
                      <td  class="code">per_page</td>
                      <td>Number</td>
                      <td>The number of resources to retrieve per page</td>
                    </tr>
                    <tr>
                      <td class="code">page</td>
                      <td>Number</td>
                      <td>The number of the page of results to display</td>
                    </tr>
                  </tbody>
                </table></div>
            <h5>Example Request</h5>
            <iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/contents/list.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
            <h5>Example JSON response (200)</h5>
            <pre><code class="javascript">
{
  status:true,
  data: [ {
      id:2,
      title : "My latest blogpost",
      text : "This is my latest blogpost..."
    },
    {
      id:1,
      title : "My first blogpost",
      text : "This is my first blogpost..."
    }
  ]
}</code></pre>

            </div>
<!-- / CONTENT LIST -->
<!-- CONTENT GET BY ID -->
            <a class="anchor" id="contents.getbyid"></a>
            <div class="documentation">
            <h3>GET /contents/:id</h3>
            <p >Retrieve a specific content given its id.</p>
            <pre><code class="http">GET https://api.marketcloud.it/v0/contents/:id;</code></pre>
            <h5>Parameters</h5>
            <div class="table-responsive"><table class="table table-striped documentation">
                  <thead>
                    <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="code">fields</td>
                      <td>String</td>
                      <td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
                    </tr>
                  </tbody>
                </table></div>
            <h5>Example Request</h5>
            <iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/contents/getbyid.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
            <div>
            <h5>Example JSON response (200)</h5>
            <pre><code class="javascript">
{
  status:true,
  data: {
      id:2,
      title : "My latest blogpost",
      text : "This is my latest blogpost..."
    }
}</code></pre>
              </div>
            </div>
<!-- / CONTENT GET BY ID -->
<!-- CONTENT UPDATE BY ID -->
        <a class="anchor" id="contents.update"></a>
        <div class="documentation">
            <h3>PUT /contents/:id</h3>
            <p >Updates a content given an id. Returns the updated content.</p>
            <pre><code class="http">PUT https://api.marketcloud.it/v0/contents/:id;</code></pre>
            <h5>Parameters</h5>
            <p>See <a href="#contents.create" class="link">POST /contents</a></p>
            <h5>Example Request</h5>
            <iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/contents/update.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
            <h5>Example JSON response (200)</h5>
            <pre><code class="javascript">
{
  status:true,
  data: {
      id:2,
      title : "My latest blogpost",
      text : "This is my latest blogpost..."
    }
}</code></pre>
            </div>
<!-- / CONTENT UPDATE BY ID -->
<!-- CONTENT DELETE BY ID -->

        <a class="anchor" id="contents.delete"></a>
        <div class="documentation">
            <h3>DELETE /contents/:id</h3>
            <p >Deletes a specific content given its id.</p>
            <pre><code class="http">DELETE https://api.marketcloud.it/v0/contents/:id</code></pre>
            <h5>Example Request</h5>
            <iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/contents/delete.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
            <h5>Example JSON response (200)</h5>
<pre><code class="javascript">
{
  status:true
}</code></pre>
</div>
<!-- / CONTENT DELETE BY ID -->
