
						<h2>Currencies</h2>
<div class="documentation mb50 mt50">
  <h4>Table of contents</h4>
  <ol>
    <li><a href="#currencies.model">Resource model description</a></li>
    <li><a href="#currencies.list">List currencies</a></li>
    <li><a href="#currencies.getbyid">Get currency by id</a></li>
  </ol>
</div>

								<a class="anchor" id="currencies.model"></a>
								<div class="documentation">
								<h4>Model description</h4>
								<div class="table-responsive"><table class="table table-striped documentation">
									<thead>
										<tr>
											<th>Attribute</th>
											<th>Type</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="code">symbol</td>
											<td>String</td>
											<td>The currency symbol</td>
										</tr>
										<tr>
											<td class="code">name</td>
											<td>String</td>
											<td>The currency name</td>
										</tr>
										<tr>
											<td class="code">code</td>
											<td>String</td>
											<td>The currency code (e.g. EUR or USD)</td>
										</tr>
										<tr>
											<td class="code">name_plural</td>
											<td>String</td>
											<td>The plural version of the currency name</td>
										</tr>
										<tr>
											<td class="code">decimal_digits</td>
											<td>Number</td>
											<td>The number of decimal digits used</td>
										</tr>
									</tbody>
								</table>
								</div>
								</div>


				

<!-- CURRENCY LIST -->
						<a class="anchor" id="currencies.list"></a>
						<div class="documentation">
						<h3>GET /currencies</h3>
						<p >Retrieves a paginated response of a list of currencies supported by Marketcloud</p>
						<pre><code class="http">GET https://api.marketcloud.it/v0/currencies</code></pre>
						<h5>Request parameters</h5>
						<div class="table-responsive">
						<table class="table table-striped documentation">
									<thead>
										<tr>
										<th>Field</th>
										<th>Type</th>
										<th>Description</th>
										</tr>
									</thead>
									<tbody>
								<tr>
									<td class="code">fields</td>
									<td>String</td>
									<td>Comma separated list of attribute names to retrieve. Use it to retrieve only the fields you need.</td>
								</tr>
								<tr>
									<td  class="code">{Attribute}</td>
									<td>Mixed</td>
									<td>Any resource attribute that you want to use to filter the result list.</td>
								</tr>
							</tbody>
								</table></div>
						<h5>Example Request</h5>
						<iframe src="//api.apiembed.com/?source=https://raw.githubusercontent.com/Marketcloud/json-request-examples/master/requests/carts/update.json&targets=shell:curl,java:unirest,python:requests,ruby:native,objc:nsurlsession,go:native,csharp:restsharp" frameborder="0" scrolling="no" width="100%" height="300px" seamless></iframe>
						<h5>Example JSON response (200)</h5>
						<pre><code class="javascript">
{
	status:true,
	data: [
			{
				"symbol": "€",
				"name": "Euro",
				"symbol_native": "€",
				"decimal_digits": 2,
				"rounding": 0,
				"code": "EUR",
				"name_plural": "euros"
			}
			...
	]
}</code></pre>							

						</div>
<!-- / CURRENCY LIST -->						
