<% include ../header/ %>
<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css">
<style type="text/css">
</style>
<section class="no-padding" ng-app="Marketcloud.Account" style="min-height:100vh;background-color:#E9EBED;padding-top: 100px" ng-controller="FormController">
	<div class="container-fluid" >
		<div class="row">
			<div class="col-xs-12 text-center mb20">
				
				<a href="/"><img src="/img/logo/new.png" style=" max-height:100px"></a>
				
			</div>
		</div>
			<div class="row">
				
			
			<div class="col-xs-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 mb50" >
				
				
				
				<div class="ct">
					<% if (message) { %>
					<div class="alert alert-empty-info"><%= message %></div>
					<% } %>
					
					<div class="card raised">
						<div class="card-header"><h4>Login</h4></div>
						<div class="form">
							
							<div id="loginForm">
								<div class="form-group" style="text-align:left" ng-class="{'has-error' : false === validation.email, 'has-success' : true === validation.email}">
									<label>Email address</label>
									<input required ng-model="credentials.email"
									type="email"
									class="form-control input-lg"
									placeholder="email@example.com"
									id="email"
									ng-enter="login()"
									name="email"/>
								</div>
								<div class="form-group" style="text-align:left;" ng-class="{'has-error' : false === validation.password, 'has-success' : true === validation.password}" >
									<label>Password</label>
									<input required ng-model="credentials.password"
									type="password"
									placeholder="password"
									class="form-control input-lg"
									id="password"
									ng-enter="login()"
									name="password"
									/>
								</div>
								<div class="form-group">
									<button class="btn btn-success btn-block" id="login_button" ng-click="login()" ng-disabled="waitingForResponse"><i class="fa fa-circle-o-notch fa-spin" ng-cloak ng-show="true === waitingForResponse"></i> Sign in</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-6 col-xs-12 ct mt20"><a class="btn btn-default btn-block" href="/account/recover">Recover password</a></div>
					<div class="col-lg-6 col-xs-12 ct mt20"><a class="btn btn-default btn-block" href="/account/signup">Create account</a></div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<script src="/libs/angular/angular.js"></script>
<script type="text/javascript" src="/modules/shared/js/marketcloud.shared.module.js"></script>
<script type="text/javascript" src="/modules/shared/js/directives/ng-enter.directive.js"></script>
<script type="text/javascript" src="/modules/account/js/marketcloud.account.module.js"></script>
<script type="text/javascript" src="/modules/account/js/login.controller.js"></script>
<% include ../footer %>