<% include ../header/ %>
<script type="text/javascript">
	mixpanel.track('account.signupView',{
		referrer : document.referrer
	})
</script>
<section ng-app="Marketcloud.Account" style="min-height:100vh;background-color: #E9EBED;" class="no-padding" ng-controller="SignupFormController" >
	
	<div class="container-fluid" ng-cloak>
		<div class="row">
			<div class="col-xs-12 text-center mb20" style="padding-top:50px;">
				
				<a href="/"><img src="/img/logo/new.png" style=" max-height:100px"></a>
				
			</div>
		</div>
		<div class="row" ng-show="true === showSuccessMessage">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="card card-raised" style="padding:0px;">

					<div class="section mb20">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<div class="text-center">
										
										<h3>Welcome to Marketcloud!</h3>
										<p class="lead mt50 text-muted">Your account has been created and you have been logged in. <br>Below you find some helpful links to get you started.</p>
										<div class="mb20"><a class="link" href="/">Return to homepage</a></div>
										<a class="btn btn-info" href="/applications#/new">Create an application</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section" style="background-color: #3498DB;padding:20px;">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<div class="row">
										<div class="col-md-4 mb20 ">
											<div class="card">
												<div class="text-center">
												<img src="https://marketcloud.azureedge.net/images/books.png" style="max-height: 100px;max-width: 100%;" /></div>
												<h4 class="mt20">Documentation</h4>
												<p class="text-muted small">Where you can find API references, examples and more.</p>
												<a class="btn btn-empty-info" href="/documentation">Read more</a>
											</div>
										</div>
										<div class="col-md-4 mb20">
											<div class="card">
												<div class="text-center"><img src="https://marketcloud.azureedge.net/images/slack.png" style="height: 100px;" /></div>
												<h4 class="mt20">Community</h4>
												<p class="text-muted small">Where you can ask anything about everything.</p>
												<a class="btn btn-empty-info" href="/community">Join</a>
											</div>
										</div>
										<div class="col-md-4 mb20">
											<div class="card">
												<div class="text-center">
												<img src="https://marketcloud.azureedge.net/images/octocat.png" style="height: 100px;" /></div>
												<h4 class="mt20">GitHub repository</h4>
												<p class="text-muted small">Where we publish all our SDKs, examples and recipes.</p>
												<a class="btn btn-empty-info" href="https://github.com/Marketcloud">View</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 mb50" >
				<div>
					
					<div >
						
						
						
						
						<div style="" ng-show="false === showSuccessMessage">
							<div class="card raised mb50">
								<div class="card-header"><h4>Create a Marketcloud account</h4></div>
								<div class="card-content">
									
									<div class="form-group" style="text-align:left" ng-class="{'has-error' : false === validation.email, 'has-success' : true === validation.email}">
										<label>Email address</label>
										<input required ng-model="account.email"
										<% if ('undefined' !== typeof email) { %>
										ng-init="account.email ='<%= email %>'"
										<% } %>
										type="email"
										class="form-control input-lg "
										placeholder="email@example.com"
										id="email"
										ng-enter="createAccount()"
										ng-disabled="true === waitingForResponse"
										name="email"/>
									</div>
									<div class="form-group"  ng-class="{'has-error' : false === validation.password, 'has-success' : true === validation.password}" >
										<label for="password">Password</label>
										<input required ng-model="account.password"
										type="password"
										<% if ('undefined' !== typeof password) { %>
										ng-init="account.password = '<%= password %>'"
										<% } %>
										class="form-control input-lg "
										id="password"
										name="password"
										ng-enter="createAccount()"
										placeholder="Password"
										ng-disabled="true === waitingForResponse"
										/>
									</div>
									<div class="form-group"  ng-class="{'has-error' : false === validation.confirm_password, 'has-success' : true === validation.confirm_password}">
										<label for="password">Confirm password</label>
										<input ng-model="account.confirm_password"
										type="password"
										class="form-control input-lg "
										id="confirm_password"
										name="confirm_password"
										ng-enter="createAccount()"
										placeholder="Confirm password"
										ng-disabled="true === waitingForResponse"/>
									</div>
									
									
									
									
								</div>
								<div class="card-footer">
									<button class="btn btn-info btn-block" id="create_account_button" ng-click="createAccount()" ng-disabled="true === waitingForResponse"><i class="fa fa-refresh fa-spin" ng-show="true === waitingForResponse"></i> Create account</button>
								</div>
								
							</div>
							<div class="mt20 mb20 text-center">
								<p>Already have an account? <a class="link" href="/account/login">Login</a></p>
								<p>Lost your password? <a class="link" href="/account/recover">Recover password</a></p>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/libs/angular/angular.js"></script>
	<script type="text/javascript" src="/modules/shared/js/marketcloud.shared.module.js"></script>
	<script type="text/javascript" src="/modules/shared/js/directives/ng-enter.directive.js"></script>
	<script type="text/javascript" src="/modules/account/js/marketcloud.account.module.js"></script>
	<script type="text/javascript" src="/modules/account/js/signup.controller.js"></script>
	<% include ../footer %>